[2013-06-26 02:22] cboettig opened #1 "Add a function to generate plain-text summaries of EML metadata"
A couple of options on how to do this:
- Provide in markdown formatting?
- More crudely: convert directly to YAML instead? `as.yaml(xmlToList(eml.xml))`

Ideal rendering would drop some of the less essential markup (e.g. stuff intended more for machines than people -- unit definitions, numeric types, etc).

[2013-06-26 02:29] cboettig opened #2 "Generate an EML file given a data.frame and appropriate metadata"
To begin with, consider rendering a data.frame such as this

[code]

with the following accompanying metadata:

[code]

into EML.

[2013-06-26 02:39] cboettig opened #3 "Add function to publish EML data through figshare"
Involves several steps:
- [ ] Update the EML publisher information as figshare
- [x] Update the EML distributed online URL location with the figshare link
- [x] Update EML link of csv and other data files to their download URLs from figshare
- [x] package EML and all data files (CSV, images, code, etc) as figshare file object. (Will mean using `fs_create` to establish the figshare link metadata fi

[2013-06-26 04:57] cboettig opened #4 "Add function to publish EML data through Github"
Deploying EML file and associated data objects on the gh-pages branch of a github repository would provide a more natural URL endpoint, and facilitate forking, pull requests, and rapid versioning.

Would require many of the same steps as #3, but because we don't have a native R interface to Git the actual commit and push could be left to an external script or the user.  Most natural simply to spec

[2013-06-26 05:05] cboettig opened #5 "Questions about EML design & implementation"
A running list of questions that I might direct to Matt if I cannot figure them out:
- Can we get (public) endpoints/URLs to all the public EML files in KNB?
- How should we be generating `id` attributes for `<attribute>` elements?
- How can we replace `definition` with a URI to an existing ontology?

Units already have clear semantic definitions, but assigning good definitions to columns or value

[2013-06-26 16:52] cboettig opened #6 "Extract appropriate R objects from EML dataTable"
Given the EML file defining a CSV and metadata types, extract the R object information.  This should allow the user to reconstruct the following R objects from EML generated by #2

[code]

with the following accompanying metadata:

[code]

Ensure that all objects have the correct object type: e.g. (ordered) factors should be (ordered) factors, etc.

[2013-06-26 16:54] cboettig opened #7 "Parse and Validate EML against schema"
- [ ] Read in an EML file into R.
- [ ] Validate against the schema with appropriate warnings.
- [ ] Extract R objects for data types (see #6 )
- [ ] Potentially generate the appropriate class and function types from XMLSchema

[2013-06-26 17:15] cboettig opened #8 "Integrate two datatables based on EML spec and ontology"
This is the **holy grail** of metadata infrastructure and ostensibly the primary purpose of EML, see [Jones et al 2006](http://dx.doi.org/10.1146/annurev.ecolsys.37.091305.110031).  Despite that, integration is not actually possible without semantic definitions as well, see [Michener & Jones 2012](http://dx.doi.org/10.1016/j.tree.2011.11.016), from which we adapt this minimal example below.

This

[2013-06-27 16:09] #2 closed, assigned to cboettig

[2013-06-27 16:29] cboettig opened #9 "utilities for coverage metadata"
EML [coverage](http://knb.ecoinformatics.org/software/eml/eml-2.1.1/eml-coverage.html) nodes specify taxanomic, geographic, and temporal coverage.

They can refer to a dataset node but can also be used to define coverage of individual columns (e.g. a species column) or individual cells in a column (e.g. the species name).  The latter is much richer but less commonly implemented.
### taxonomic cove

[2013-06-27 16:43] cboettig opened #10 "Dealing with settings / generic metadata"
Some metadata a user would probably rather set once in some global configuration than have to specify each time, such as their personal contact information.  The package API currently uses `eml$set` and `eml$get` to handle this.

At the same time, if a user needs to adjust the contact information for a particular file, they should be able override these values without altering their global configu

[2013-06-27 16:57] cboettig opened #11 "Stylistic issues"
The package makes frequent use of camelCase.  This is to provide consistent mapping to EML nodes, which are all defined in camelCase, e.g. `<dataset>` but `<dataTable>`.  Deal with it.

Package functions use `=` instead of `<-` for assignment.  Should be fixed.  XML package has lots of nice syntactic sugar, and this makes it a bit more fluid to move the definitions around.

Need to stick with cons

[2013-06-27 17:07] cboettig opened #12 "attributeList needs to support custom units, unit matching"
Currently units must come from the [EML Standard Units](http://knb.ecoinformatics.org/software/eml/eml-2.1.1/eml-unitTypeDefinitions.html#StandardUnitDictionary) list, already written according to the specification there (camelCase and all).
- [ ] We should provide a utility to match plain text descriptions to the Standard Units.
- [ ] We should provide support for specifying custom units

[custom

[2013-06-27 18:04] cboettig opened #13 "Semantics integration"
Truly automatic data integration needs some level of formal semantics.  Should start thinking about how semantics would fit into the `reml` workflow, even though most are still in their infancy.

An ideal system would allow authors to contribute to existing ontologies, or at least push to a 'working' or 'draft' ontology that could later be formalized / mapped to a more central effort like [OBOE](h

[2013-06-27 18:24] cboettig opened #14 "Start a unit test suite"
- Example EML file parses (as XML)

coverage: `eml_write`, `eml_dataset`, `eml_dataTable`, `eml_attributeList`
- Example EML file validates (as EML)

coverage: `eml_write`, `eml_dataset`, `eml_dataTable`, `eml_attributeList`
- Check certain entries in EML, e.g. `<attribute><definition>` from xpath matches definition passed to `eml_write`.

Continue developing unit tests as (or before) development

[2013-06-27 19:29] cboettig opened #15 "Integration with related schemas?"
With a robust XMLSchema package, a few other things become easy.  Integration should happen at the more universal level of the schemas themselves rather than the R level, just hopefully something we can take advantage of from there.

* [Darwin Core](http://rs.tdwg.org/dwc/terms/simple/index.htm),  [schema](http://rs.tdwg.org/dwc/xsd/tdwg_dwcterms.xsd)

* [NeXML](http://www.nexml.org/)

* ...

EML

[2013-06-27 23:51] cboettig opened #16 "add numberOfRecords node to dataTable"
http://knb.ecoinformatics.org/software/eml/eml-2.1.1/eml-dataTable.html#numberOfRecords

Optional value providing non-header lines in CSV.  Can simply be pulled from `dim(dataframe)[1]`

[2013-06-28 18:59] cboettig opened #17 "Dealing with dateTimes: when dates are defined over multiple columns"
I think that the `dateTime` of a single observation should always be given in a single column. For reasons unfathomable to me, [some data](http://harvardforest.fas.harvard.edu:8080/exist/xquery/data.xq?id=hf205) represents year as a column, month as another column, day as another column, etc.

This is really only a problem when we do not have good metadata to recognize that these all refer to the

[2013-06-28 19:26] #6 closed, assigned to cboettig

[2013-06-28 19:30] sckott opened #18 "Install fails due to bug while compiling vignette"
[code]

[2013-06-28 19:32] cboettig opened #19 "Extract all additional metadata provided"
So far `eml_read` only extracts the three objects in the proof-of-principle test.  Of course we will want generic access to all metadata objects, probably with a variety of tools for their extraction.
- [x] In particular, we still need utilities for `<coverage>`, see #9
- [ ] In general, we may want to leverage `xmlSchema` and `xmlToS4` to provide generic access to metadata.
- [x] As well as plain

[2013-06-28 19:35] cboettig opened #20 "Add KNB as a publish node?"
Presumably we should be able to push directly to KNB as well (many benefits, including being a DataONE node...).

May need Matt's help on getting API tools to do this...

[2013-06-28 19:38] cboettig opened #21 "Work with local files instead of online files"
eml_read and eml_write both assume online endpoints for all files.
- [ ] Need to see how to provide option to use/support local destinations at custom file paths (perhaps just physical filename of EML file and datafiles).
- [ ] Add option/toggle on eml_read to attempt local access (with specified path?)
- [ ] eml_write needs to include it's own filename in the EML(?)
- [x] eml_write probably shoul

[2013-06-28 21:49] cboettig opened #22 "reml-generated EML should include metadata stating so"
That way if someone doesn't like the EML, they know who to blame ;-)
- [ ] e.g. should have plain-text description of REML, contact info & bug report info.  Have to figure out the best syntax for this.
- [x] A richer implementation could document the R function calls used to generate the EML.
- [ ] Include citation to REML (e.g. as a [software node](http://knb.ecoinformatics.org/software/eml/eml-2

[2013-06-29 05:29] #3 closed, assigned to cboettig

[2013-06-29 05:30] cboettig opened #23 "Add DOI to EML when publishing publicly to figshare"

[2013-06-29 05:40] cboettig opened #24 "add appropriate publisher information when pushing to figshare"
- [ ] Could add figshare as a `<publisher>` node when using `eml_figshare`
- [ ] Should re-use a general-purpose function for adding publisher to data
- [ ] Should check that publisher node isn't already set to avoid duplicating entries.

[2013-06-29 18:25] mbjones opened #26 "rename files that only differ by case"
Immediately after cloning the reml repo on a Mac, git status shows the man/eml_datatable.Rd file as modified, without any editing.

This seems to be due to the existence of files that differ only by case -- particularly man/eml_datatable.Rd and man/eml_dataTable.Rd.  Removing the duplicate file should fix the problem, but at the moment I am unclear as to which is the right one to remove, or if in

[2013-06-29 20:41] cboettig opened #27 "eml_citation"
We can get citation information for R packages with `citation("reml")`, so it would be natural to get the citation information for an EML object with:

[code]
- [x] `read_eml` should make use of the S3 class `eml` and return a pointer to the XML root node as `doc`
- [ ] Create the function `eml_citation` with alias `citation.eml` that extracts the appropriate data citation.
- [ ] Citation metadata

[2013-06-29 22:37] #26 closed, assigned to nobody

[2013-06-29 23:27] #18 closed, assigned to cboettig

[2013-06-30 09:07] mbjones opened #28 "fix validity issues with generated EML"
The currently generated EML is not valid and needs to be fixed.  I have identified the following issues to be fixed:
- [x] missing `@packageId` attribute on root `<eml>` element
- [x] missing `@system` attribute on root `<eml>` element
- [x] missing `<title>` field
- [x] missing `<creator>` field
- [x] missing text values in `<contact>` field
- [x] `<entityDescription>` field is empty
- [x] misspe

[2013-06-30 09:41] #28 closed, assigned to mbjones

[2013-07-01 23:21] #14 closed, assigned to cboettig

[2013-07-02 00:41] cboettig opened #29 "Reading and writing CSV files should have full implementation / translation of read.table API"
R's read.table() function (which read.csv is aliased to) provides lots of options that we should
- [ ] be encoded in the metadata when we write csv
- [ ] be reading in from the metadata when we read csv

[code]

See `?read.table` for details.  Particularly important for the read interface.

[2013-07-02 02:40] mbjones opened #30 "can we replace the EMLParser class from dataone R package?"
The R dataone package also has some preliminary EML parsing routines, which extract relevant metadata from EML and make it available for use in the dataone client.  This is partially used for the asDataFrame() method that converts a dataone binary file to a data frame.  These classes may be able to be replaced with more capable reml package methods.  See:

https://repository.dataone.org/software/c

[2013-07-06 21:11] cboettig opened #31 "Provide prompts / wizard to help user enter metadata if not provided"
For a first-time user of the reml package, it might be easier to simply call `eml_write` on an R `data.frame` object and have the function coach them through what minimal metadata they must add, prompting them for inputs along the way ("Define column "X1:"  ).

No doubt any regular user would find this frustrating to repeat each time, and would rather provide a list of metadata ahead-of-time, poss

[2013-07-07 00:48] #16 closed, assigned to nobody

[2013-07-07 03:12] cboettig opened #32 "function to create an eml_software node"
An EML software node needs:
- [x] version (txt)
- [x] licenseURL or license (text)
- [x] implementation

Optionally,
- [x] dependencies

`<implementation>` minimally needs a url, via
- [x] a  `<distribution>` node, which we also use elsewhere (e.g. when publishing data to a url).

For R packages, we can extract all the necessary information by providing the R package name.  A wrapper function can

[2013-07-09 04:09] cboettig opened #33 "EML search queries"
Thus far issues have been divided between read, write, and publish, or integrate EML. Development has mostly focused on writing EML.  Publish is relatively straightforward extension of writing the EML, just adds a few extra fields to the EML file and pushes the data to the appropriate repository with appropriate metadata.

Reading EML is potentially more of a challenge since (a) we assume the user

[2013-07-19 18:43] cboettig opened #34 "Get XMLSchema running on EML"
We should be able to do

[code]

@duncantl is adjusting `XMLSchema` to handle EML's schema for this (some challenges in the recursive referencing of schema files).

@mbjones Do we have an online URI for `eml.xsd`?  So far I've had to download a tarball from http://knb.ecoinformatics.org/software/download.jsp#eml

[2013-07-20 16:54] mbjones opened #35 "Use reml to parse EML metadata coming from the dataone library"
Currently, in the `dataone` package, we can download EML and parse it with an XML parser to extract some metadata for use in our script.  For example:

[code]

This seems like it would be better handled by handing the eml document off to the `reml` package for parsing, which might provide some nicer accessor methods, plus the ability to insert new metadata or change existing fields.  I've been thi

[2013-07-20 16:57] cboettig opened #36 "Use EML 2.1.1 ?"
@mbjones `eml_write` is assigning the namespace 2.1.0.  Any reason we shouldn't be using 2.1.1?

[2013-07-21 04:23] #36 closed, assigned to nobody

[2013-07-21 06:21] cboettig opened #37 "basic eml_write tasks"
- [x] eml_dataTable should use title for name of csv file if not provided, rather than the col-name trick.
- [x] reml method node should include dateTime of generation
- [x] Add a publication date
- [x] add a License
- [x] eml_person should be able to take strings such as `Carl Boettiger <cboettig@gmail.com>` and coerce to R person object, then to eml_person object.
- [x] eml_publish should be abl

[2013-07-25 18:52] cboettig opened #38 "Use the S4 approach for reading and writing XML"
A somewhat more elegant approach to reading in XML is to define an S4 class for a given node and then just cast the XML into the S4 slots using `xmlToS4`.  Undefined slots are ignored.  I provide an illustration of how to do this in my [advice on the RNeXML package](https://github.com/shumelchyk/RNeXML/issues/11), which compares it to alternative methods of reading XML.

This approach has the part

[2013-07-25 18:55] #22 closed, assigned to nobody

[2013-07-25 18:57] #32 closed, assigned to nobody

[2013-08-03 00:44] cboettig opened #39 "Formats for user entry of dataTable metadata"
Currently, to convert a `data.frame` into EML, we use a workflow that passes a data.frame, a list of `column_metadata` and a list of `unit_metadata` to a function,

[code]

Then eml is created by passing these objects to the high-level function `eml_write`

[code]

I'm not sure if this is a good way to ask the users for metadata.  One of the design goals is to reuse the natural R structures as muc

[2013-08-12 05:41] cboettig opened #40 "R Puzzles"
_Here's a running list of questions I have for @duncantl or whomever, largely arising as I try to understand the S4 based approach to representing the schema and various puzzles that arise in the process.  _
### generic R isses
- [ ]  Why do I lose names when coercing between (named) character strings and lists (and vice versa)? (try `as(list(a=1, b=2), "character")`)
- [ ]  I set prototype for a

[2013-08-29 00:36] #39 closed, assigned to nobody

[2013-08-30 17:25] cboettig opened #41 "Understanding inheritance in the schema"
@mbjones Can you clarify where any of the elements inherit some of their definition from existing definitions?  e.g. I think that's what is going on with `entityGroup` and `referenceGroup`.  Wondering if there is also a base class inherited by most everything that defines the `id` attribute?  Or is that just manually added to each definition where appropriate?

[2013-09-02 23:25] #19 closed, assigned to nobody

[2013-09-03 01:47] #38 closed, assigned to nobody

[2013-09-03 05:03] #31 closed, assigned to nobody

[2013-09-03 05:04] #21 closed, assigned to nobody

[2013-09-03 05:04] #11 closed, assigned to nobody

[2013-09-03 05:07] #1 closed, assigned to cboettig

[2013-09-03 14:09] cboettig opened #42 "ext_validate broken?"
@duncantl For some reason I cannot get your `ext_validate` to run successfully any more.  e.g. running [this test](https://github.com/ropensci/reml/blob/ceb8bf9d81990c2c591f5dfa7a1d47fc67927503/inst/tests/test_ext_validate.R) gives the error:

[code]

not sure what's up on this one.

[2013-09-03 16:31] cboettig opened #43 "if/where to date / timestamp EML files?"
@mbjones would it make sense to timestamp the EML file with date it is generated?  The files have most of the information you might want to cite the data: creator, title, url or identifier, potentially organization or repository responsible, but I don't see a date associated with this.  If so, where would the logical place for such a date go?  (presumably this would not be ambiguous to the date da

[2013-09-03 18:49] #41 closed, assigned to nobody

[2013-09-04 03:33] #43 closed, assigned to nobody

[2013-09-04 03:40] #35 closed, assigned to nobody

[2013-09-04 17:32] emhart opened #44 "Can't build package due to some missing commas."
- installing _source_ package 'reml' ...
  *\* R
  Error in parse(outFile) :
  C:/Users/thart/AppData/Local/Temp/RtmpuCh7ZJ/reml-master/R/attribute.R:213:52: unexpected 'function'
  212:
  213: setMethod("extract", signature("measurementScale") function
                                                     ^
  ERROR: unable to collate and parse R files for package 'reml'
- removing 'C:/Users/thart/

[2013-09-04 17:55] #44 closed, assigned to nobody

[2013-09-04 18:02] #9 closed, assigned to nobody

[2013-09-04 20:39] cboettig opened #46 "Workflow to ensure users write valid EML?"
In our early discussions about validation, we agreed it was really just part of the developer testing suite.  For a user consuming EML, having the software complain the file isn't valid isn't really helpful, it's best just to give it our best shot anyway.  For writing EML, since this is programmatically generated we can assure it is valid ... or can we?

The S4 R objects we use mimic the schema, b

[2013-09-06 19:58] #42 closed, assigned to nobody

[2013-09-06 19:59] #40 closed, assigned to nobody

[2013-09-15 00:47] cboettig opened #47 "Extend data.frame to allow more metadata"
An underlying philosophy of `reml` has been to map native R objects to EML structure (as opposed to either the raw XML or the S4 representations, which won't be familiar to most users).  While `data.frame` is the natural candidate, it doesn't include essential metadata such as units.

I've taken a stab at extending the `data.frame` class as `data.set`, providing the additional attributes `unit.def

[2013-10-15 17:31] #47 closed, assigned to nobody

[2013-10-15 17:35] #37 closed, assigned to nobody

[2013-10-15 17:41] #4 closed, assigned to nobody

[2013-10-15 17:44] #7 closed, assigned to nobody

[2013-10-15 17:53] #30 closed, assigned to nobody

[2013-10-15 19:48] cboettig opened #48 "Coverage metadata: Examples writing, reading, and plotting"
Taxonomic coverage, geographic coverage and temporal coverage are both common and rather essential metadata we should illustrate the use of.

This should include tools to generate coverage nodes from columns of the data frame: species names, lat/longs to bounding boxes, time frame from series of times.

Also include tools to summarize coverage metadata, including extraction from columns and extrac

[2013-10-15 19:50] cboettig opened #49 "Example using attribute level metadata"
Add a motivating example using attribute-level metadata.
- [ ] Unit conversions
- [ ] Other ideas?

[2013-10-15 19:51] cboettig opened #50 "Example adding arbitrary semantics"

[2013-10-16 23:52] cboettig opened #51 "potential use case in converting to long forms when combining data frames"
This issue is mostly note to myself in thinking out potential illustrative use cases.  no input really needed at this time, kinda trivial example here.

What would eml look like to encode replicate models?  Can we easily convert metadata to additional column when combining data of matching column descriptions but differing metadata, e.g.

---
model: Allen
parameters: r=1, K = 10, C = 5
nuisance pa

[2013-10-17 08:30] SimonHStats opened #52 "RJSONIO not parsing correctly using fromJSON"
I've posted this question on Stack Overflow, but I wonder if I'm better coming straight here.

Here's the discussion so far on SO.

Ok, I'm trying to convert the following JSON data into an R data frame.

For some reason fromJSON in the RJSONIO package only reads up to about character 380 and then it stops converting the JSON properly.

Here is the JSON:-

[code]

and here is my R output

[code]

[2013-10-17 08:31] #52 closed, assigned to nobody

[2013-10-21 22:29] cboettig opened #53 "Support conversion between metadata standards"
Not sure if this idea makes sense, so looking for feedback.

It seems like it would be possible to provide utilities (or preferably interfaces to existing utilities) that convert between EML and other formats (As
1:1 mappings are probably often not available, this might be largely one-way mappings, but could still be useful).

@mbjones might you comment on what of these might be useful and if you

[2013-10-31 20:07] cboettig opened #54 "when to write an access node?"
Currently `reml` simply ignores writing an `access` node.
- Now that we can publish to the KNB (#20), a repository that presumably respects the authentication and access controls defined in this node, perhaps we should be doing so (even for public files)?
- Is there a use-case for adding an access node declaring public read access for EML that is simply going to be a public file, without necessari

[2013-10-31 20:16] cboettig opened #55 "eml_read should handle local paths and automatic downloads"
If you do:

[code]

you get an error because R attempts to read the associated `csv` file into a `data.frame`, but cannot find the file.  The EML file contains only the filename of the csv file, which it looks for in the working directory, not in the matching `inst/examples/`.

Further, `eml_read` might be modified to try the online URL if it is available and no matching local file can be found.

[2013-10-31 21:59] #54 closed, assigned to nobody

[2013-11-01 07:55] mbjones opened #56 "archive test content from the KNB"
@cboettig Could you please archive any metadata files, data files, and resource maps that you might have created on the KNB during the course of testing?  We would prefer to only have real content on the KNB.  A preliminary list can be seen here:

https://knb.ecoinformatics.org/m/#data/search/Boettiger

curl could produce a more comprehensive list.

You can also use curl to do so by calling the [M

[2013-11-01 21:45] cboettig opened #57 "EML-discuss listserve?"
Is there an EML-discuss listserve where users could pose questions about recommended way to encode certain things?  Could potentially be a valuable interface between users and developers (kinda the way r-sig-phylo, and to lesser extent, nexml-discuss lists work).

I encounter this kind of challenge all the time now as I think about adding EML annotation to my own work. Forcing myself to write out

[2013-11-01 23:02] #57 closed, assigned to nobody

[2013-11-03 18:32] #53 closed, assigned to nobody

[2013-11-03 23:25] #55 closed, assigned to nobody

[2013-11-04 01:15] #56 closed, assigned to cboettig

[2013-11-12 21:40] #10 closed, assigned to nobody

[2013-12-02 21:16] cpfaff opened #58 "representation deprecated?"
I read a tutorial about s4 classes.

http://www.bioconductor.org/help/course-materials/2013/CSAMA2013/friday/afternoon/S4-tutorial.pdf

It is mentioned that the `representation` function for slots in s4 functions is deprecated and the `slot = c(....)` should be preferred.

=> Replace all `representation()` function calls by the preferred way!

[2013-12-02 22:16] #58 closed, assigned to nobody

[2013-12-03 13:00] cpfaff opened #59 "Question/Idea: Make the package more general (long term)"
There is various metadata formats out there that are based on xml. Many small
projects also define their own xml scheme for metadata. Why not make the package so general
that it would be easy to use it with an own scheme? Is this feasable or does this
not make any sense at all?

[2013-12-03 18:50] #50 closed, assigned to nobody

[2013-12-03 18:53] cboettig opened #60 "Tools to facilitate serializing/parsing of RDFa in additionalMetadata"
This issue builds on the ideas discussed in #5.  We can broadly separate out three use-cases for RDFa annotations:
1. Extending EML.  If we want to provide additional machine-readable / structured metadata that cannot be expressed in EML, we can always add this information in an additionalMetadata section. (Need not be semantic, could just be XML).  This is already illustrated in #50.
2. Providing

[2013-12-03 18:53] #5 closed, assigned to nobody

[2013-12-03 19:02] #33 closed, assigned to nobody

[2013-12-03 19:12] #46 closed, assigned to nobody

[2013-12-03 19:23] cboettig opened #61 "How do we handle recursive / self-referencing elements?"
At a couple points the EML schema will define a node that can contain itself.  For instance, `<protocol>` [contains](http://knb.ecoinformatics.org/software/eml/eml-2.1.1/eml-protocol.png) `<proceduralStep>` [which contains](http://knb.ecoinformatics.org/software/eml/eml-2.1.1/eml-methods.png) `<protocol>`.

I'm not sure how the schema accomplishes this, but R doesn't like defining S4 objects that

[2013-12-05 21:23] cboettig opened #62 "Parse a .docx file to get `methods` and other text"
No one wants to write 3 pages of text at the R command line.  Most researchers will write the methods paragraphs in Word.  Since this is XML we can parse with packages like [RWordXML](), we should be able to extract the text and basic structure (paragraph, title, section) and write that into the appropriate EML methods structure.

For a concrete example, [here is a docx version of the methods](htt

[2013-12-06 09:32] cpfaff opened #63 "reml as package name"
I think the name could lead to a bit confusion as reml is already
taken for restricted maximum likelihood. :-)

[2013-12-06 20:09] karthik opened #64 "Update the demo and examples for workshops"
In light of the fact that the package has changed significantly since the last time we wrote a demo, time to work on a few new examples that include the `data.set` implementation.

[2013-12-06 22:41] cboettig opened #65 "License and acknowledgement questions"
@mbjones So I'm thinking about putting these XSLT files from #60 as part of the package and wrapping an R function around them, something like get_rdf perhaps.  It looks like they are under the Apache license, whereas `reml` currently declares CC0 license.  Perhaps we should just move everything to Apache?  Also, I didn't see info on authorship/acknowledgement.  If we actually include the XSL file

[2013-12-06 23:07] cboettig opened #66 "Improved modular user interface"
As I mention in #64 the current interface has some drawbacks.

I'm pretty content with the `data.set` part of the interface (though I sometimes wonder about extending it to have other metadata?)  Once a user has created a `data.set`, a lot of the additional metadata can be created using the default S4 constructor for the class rather than a dedicated function.

For instance, here I build up the "c

[2013-12-06 23:10] cboettig opened #67 "Define concatenation methods for any class that includes a `ListOf` class"
Because it is always more elegant to do: `dataset@datatable <- c(dataTable, dataTable2)` then it is to do: `dataset@dataTable <- new("ListOfdataTable", list(dataTable, dataTable2))`, and so forth.

[2013-12-06 23:12] cboettig opened #68 "dataset@dataTable slot should have class ListOfdataTable"
because we can have multiple dataTable children of one dataset.  This particular case will be somewhat more annoying to fix then usual do to heavy use elsewhere in the code...

[2013-12-06 23:12] #61 closed, assigned to nobody

[2013-12-06 23:13] #59 closed, assigned to nobody

[2013-12-07 04:29] #68 closed, assigned to nobody

[2013-12-07 04:37] cboettig opened #69 "Define a logical organization for file names"
one file -- one function doesn't really make sense for the class definitions and the coercion methods to/from XML, and a file for each class would be nuts.  Probably most sensible to mimic the structure of the xsd files (and eml documentation), with class definitions in a .R file named corresponding to the .xsd that defines the class in the schema.  All other functions (at least all other exported

[2013-12-09 21:04] cboettig opened #71 "clean up namespace / improve user interface"
Several functions/methods are being exported to the user that may be cluttering the namespace.  Function naming conventions for the user API also need redesigning. (Both of these are slightly tedious to implement since the test suite must be updated as well, lots of `sed -i`...).

In particular:
- function naming convention should clearly distinguish accessor/get methods vs write/add methods.  e.g

[2013-12-11 18:13] cboettig opened #72 "Tool for adding citation metadata for the publication associated with the data file"
This is actually a non-trivial problem due to changes in the EML design, see discussion thread on the eml-dev listserve:

http://lists.nceas.ucsb.edu/ecoinformatics/pipermail/eml-dev/2013-December/thread.html

@cpfaff you probably want to join the listserve too.

[2013-12-12 01:05] #67 closed, assigned to nobody

[2013-12-12 19:15] cboettig opened #76 "Infer coverage from data"
Data frames may often include actual lat-long coordinates, species names, dates, etc.  It would be useful for a user to just point reml to which column has the relevant information (or perhaps more ideally but also tricky: extract automatically based on trigger words in the column metadata) and construct the appropriate coverage nodes automatically.

[2013-12-14 06:02] cboettig opened #78 "Dealing with dates"
Date columns are somewhat problematic than they should be.  Several challenges exist here:

- [ ] the R user may represent dates as almost any type: integer, numeric, character, factor, or Date.  So detecting the format based on the column class isn't reliable.  (there may be good reasons of course to treat date as a factor for a given statistical test or plot, etc)
- [ ] R's Date type insists on

[2014-01-01 23:14] dfalster opened #82 "Example has errors"
Hi guys,

Just trialling the reml package. Unfortunately the example on front page of package does not work straight out of the box, which is a bit discouraging. I did the following

[code]

and get this error

[code]

Subsequent commands also fail, e.g.

[code]

[2014-01-03 03:09] #82 closed, assigned to nobody

[2014-01-07 05:51] cboettig opened #83 "eml constructor / dataTable constructor should permit list of data.set / data.frames"
Closely related to #68

[2014-01-09 17:54] cboettig opened #86 "ListOfCitation"
Most things that have a  `citation` slot should really have it as type `ListOfcitation`, since 0 or more `citation` nodes are permitted (e.g. see coverage module).  Likewise we need a `c` method for the `ListOfcitation`.

Then because bibentry can be a list of bibentry objects

[code]

[2014-01-15 01:12] cboettig opened #87 "Travis integration"
@karthik nice work with the travis integration, looks really promising.  Um, haven't delved into it, not sure what's up with the current build.  It appears that Github is detecting the presence of the travis setup, but then it appears that Travis doesn't find the files it needs to actually run the tests?

https://travis-ci.org/ropensci/reml/builds/16935548

Any hints?

Also, um, what checks does T

[2014-01-20 23:40] #86 closed, assigned to nobody

[2014-01-20 23:55] #27 closed, assigned to nobody

[2014-01-20 23:58] cboettig opened #91 "Tools for adding and accessing a "canonical citation""
Unfortunately it isn't obvious where to write such a citation in the latest EML, as [discussed](http://lists.nceas.ucsb.edu/ecoinformatics/pipermail/eml-dev/2013-December/002004.html) on eml-dev.

@mbjones has a proposal for a revision that would add a `citation` class to the `dataset` (and potentially similar objects like spatialRaster etc). https://projects.ecoinformatics.org/ecoinfo/issues/6283

[2014-01-21 00:55] #65 closed, assigned to nobody

[2014-01-21 01:39] #66 closed, assigned to nobody

[2014-01-21 01:40] #48 closed, assigned to nobody

[2014-01-21 01:53] #49 closed, assigned to nobody

[2014-01-21 02:00] #63 closed, assigned to nobody

[2014-01-21 12:26] ivanhanigan opened #92 "eml_write issues"
#### R code

[code]

[2014-01-21 12:52] ivanhanigan opened #93 "Morpho1.8 unable to read eml_write output"
[code]

[2014-01-27 20:34] cboettig opened #95 "Get Travis integration up and running"
Will require:
- [x] Removing the non-CRAN hosted packages from SUGGESTS list
- [ ] Setting a trigger to skip all test functions that require non-CRAN packages
- [ ] Likewise something for handling the vignettes that include those packages
- [x] Trigger to skip tests that require KNB authentication.
- [x] Include testing figshare credentials

[2014-01-27 22:16] #95 closed, assigned to nobody

[2014-01-27 22:17] #87 closed, assigned to nobody

[2014-01-28 07:39] cpfaff opened #97 "Create the project module"

[2014-01-29 07:18] karthik opened #99 "Worth adding Shiny support?"
In relation to the [wizard](https://github.com/ropensci/EML/blob/master/R/eml_wizards.R) wondering if it would be worth adding a Shiny module as an enhancement. It would allow users to document all the fields in a browser, often suggesting standard units. It also gets around the linear approach one has to work with on the command line.
New version of Shiny can take input and send everything back t

[2014-01-30 19:03] #93 closed, assigned to nobody

[2014-02-06 00:47] cboettig opened #100 "Handle reading or errors of older EML files gracefully"
For instance, eml-2.0.1 `additionalMetadata` has `additionalInformation` child node, not in a `metadata` node, which just breaks, for instance in: `knb-lter-sev.17804.1.xml`

[2014-02-06 00:51] cboettig opened #101 "Improve remote access of associated CSV"
e.g.

[code]

[2014-02-06 08:08] karthik opened #102 "data.set exists in memisc"
data.set in the memisc package

http://cran.r-project.org/web/packages/memisc/memisc.pdf
See page 20-21.

Could incorporate/import this functionality into EML.

[2014-02-14 03:50] cboettig opened #103 "Add example documenting data from a relational database"
Particularly relational database from remote source, accessed through specified software protocol (use case from @ethanwhite https://twitter.com/ethanwhite/status/434014008715120640 )

[2014-02-14 22:58] cboettig opened #104 "Documenting software dependencies in EML"
@mbjones Not sure I follow how dependencies are supposed to be documented (e.g. not sure I understand the `action` element), but I'm worried about recursion here.  I'm writing a utility to generate the EML software node for an R package using the information R provides for installed packages through `packageDescription`.  It seems natural to list dependencies the way they are listed in the DESCRIP

[2014-02-21 22:30] #92 closed, assigned to nobody

[2014-03-20 20:30] cboettig opened #105 "eml_validate RHTMLForms based method broken again"
This is now failing.

[code]

inspection suggests a 301 error:

[code]

Attempting to manually upload a file on the website isn't working for me either: https://knb.ecoinformatics.org/emlparser/

so I think this might be an issue with KNB's parser.  Meanwhile, I might make the default behavior to just do schema validation only.

[2014-03-21 06:07] #105 closed, assigned to nobody

[2014-04-01 18:33] cboettig opened #106 "Adjusting the title for csv file?"
It is easy to mistake (#82) the `title` field of the `dataTable` element for the file name of the csv.    Currently the csv file is named with a uuid which potentially a cumbersome way to go and a strange default.  Perhaps this should use the title as the filename by default? In this case, how do we avoid unintentionally overwriting an existing CSV file? (or is that not a concern?)

Currently the

[2014-04-16 05:51] dfalster opened #107 "Workflow for advanced EML files"
Hi @cboettig,

With help from @karen-ross, I have been preparing some datafiles to make public and trying to apply your REML package. I expect to do this somewhat often, so have tried to set up a worklow that

1. stored all key metatdata in files
2. uses these files to generate a standard readme file
3. uses the same files to generate an rich EML file (as per instructions [here](https://github.com

[2014-04-18 02:30] emhart opened #108 "generic XML bindings in R"
Hey Carl,  I was just thinking about how we're generating EML at NEON using pyxb or jaxb to creating objects with bindings from XML.  Thinking about this idea in R, it would mean scanning an XSD file, and on the fly writing an S4 class with slots for every element in the XSD. I'm curious if you think some of the approaches you've used EML could be extended to this more generalizable package.  I'm

[2014-04-18 22:40] cboettig opened #109 "eml_figshare should use `dataset` instead of `fileset`"

[2014-04-18 22:44] cboettig opened #110 "better interface for declaring units"
### Standard Units

The EML R package currently assumes a user knows the list of standard units and specifies them in camelCase.  This should be relaxed: ideally we should be able to identify any common pattern and map it to the appropriate standardUnit, though care must be taken not to introduce mistakes or unexpected opaque behavior in so doing.

### Custom Units

- [x] Add support for declaring

[2014-04-28 03:00] dfalster opened #112 "Problem downloading data from figshare example"
Hi @cboettig,

I was keen to try using an EML file to fetch and load data into R, so turned to tried using one of your example EMLs on figshare. During that I ran into an error i thought you would want to know about. I found [this fileset](http://figshare.com/articles/reml_example/829573) and ran the following commands, with an error on the last one (get data set):

[code]

Note, it tries to fetch

[2014-05-08 23:31] cboettig opened #113 "Replace `data.set` mechanism"
Having to define unit and column metadata as a `data.set` and then pass that to `eml` is awkward.  The top-level functions like `eml` and `write_eml` should be designed to work with `data.frames` (or external csv files) directly without jumping through this extra confusing hoop.

A more natural workflow would be an `attributeList` constructor that takes the current `unit.def` and `col.def` vectors

[2014-05-10 04:48] cboettig opened #114 "Login credentials for testing dataone / KNB"
Hi @mbjones,

Currently I can't include automated tests (e.g. as would be run by travis-ci, CRAN, or included in the vignette on the topic) for the KNB publishing integration because I don't know what to do about authenticating credentials.

Since figshare is OAuth based, we're able to just provide consumer token keys that correspond to only a sandbox account (so it doesn't really matter that the

[2014-06-20 17:34] #102 closed, assigned to nobody

[2014-06-20 18:20] emhart opened #115 "Vignette building causes install to fail"
I'm not sure we necessarily want to build the vignette everytime the package is installed.
1. It fails and I can't install the latest version
2. It seems to create a figshare article everytime the vignette build attempts, and I'm not sure where this is living.

Full output from the install is below.

[code]

[2014-06-20 18:51] karthik opened #116 "Add a shiny module to write metadata"
As discussed with @cboettig I'll push a shiny module that will make it easier to document metadata in a browser than use the command line wizard which can be painful to use if you don't know what option to use or want to document fields out of order.

[2014-06-20 20:15] karthik opened #117 "Add eml_update"
As a thin wrapper to `fs_update` so once datasets are uploaded to figshare, they can be updated with each run instead of pushing new copies.

[2014-06-26 17:10] gavinsimpson opened #119 "Other incorrect URL in README.md"
I'm not sure how you are generating the base `README.md` file (there is `README.Rmd` and `README.md` in the `PKG_HOME/vignettes/` folder which look identical to the base one. PR in #118 corrects two incorrect links in `PKG_HOME/vignettes/README.Rmd` but a third remains.

The link text `See the EML generated by this example.` has the URL:

[code]

and `PKG_HOME/inst/doc/` no longer exists and I cou

[2014-07-17 00:05] #109 closed, assigned to nobody

[2014-07-23 00:07] #106 closed, assigned to nobody

[2014-07-23 00:08] #113 closed, assigned to nobody

[2014-07-23 00:31] #119 closed, assigned to nobody

[2014-07-23 00:34] #117 closed, assigned to karthik

[2014-07-23 00:35] #115 closed, assigned to nobody

[2014-07-23 17:03] cboettig opened #120 "Add tutorial on handling standard and custom units"
- [ ] provide numbered list to select a standard unit
- [ ] suggest standard unit based on partial name matching
- [ ] attempt matches against standard unit abbreviations
- [ ] Present options for a unitType from existing list
- [ ] prompt new unitType creation

[2014-07-23 17:22] #108 closed, assigned to nobody

[2014-07-23 17:25] #64 closed, assigned to karthik

[2014-07-23 17:27] #34 closed, assigned to nobody

[2014-07-23 17:38] #71 closed, assigned to nobody

[2014-07-23 17:44] #69 closed, assigned to nobody

[2014-07-29 17:59] #112 closed, assigned to nobody

[2014-07-30 22:38] #12 closed, assigned to nobody

[2014-08-21 17:17] sckott opened #121 "Interested in adding windows builds with Appveyor?"
If so, i can do, let me know

[2014-09-26 05:17] ivanhanigan opened #122 "discrepancy between the data and metadata for example dataset for Advanced_writing_of_EML.Rmd"
Thanks again for the great work guys.

I am looking at https://github.com/ropensci/EML/blob/master/vignettes/Advanced_writing_of_EML.Rmd
And find a discrepancy between the data and metadata for year, day and hour.min

#### R code

    'data.frame':	279224 obs. of  7 variables:
    $ run.num : chr  "1" "1" "1" "1" ...
    $ year    : POSIXlt, format: "2012-09-26" "2012-09-26" "2012-09-26" "2012-09-

[2014-10-06 16:11] sckott opened #123 "Getting error on `eml_validate()`"
i can share everything if you want, but maybe you recognize the error:

[code]

[code]

[2014-10-06 16:23] #123 closed, assigned to nobody

[2015-01-31 21:37] cboettig commented on #20
@mbjones looks like the `eml_knb` function isn't compatible with the `dataone 2.0.0` (e.g. `D1Client` not found). Clearly I need to get up to speed on the new package interface etc.

I did try a quick work-around with direct REST calls to the API.  It looks like the DEV node I was using for testing is down (502 error): https://mn-demo-5.test.dataone.org/knb/d1/mn, but checking  https://cn-dev.test

[2015-02-02 22:26] mbjones commented on #20
@cboettig yeah, that's only because we are working from the low-level API back up towards the top in terms of refactoring.  So, D1Client will be the last API to be refactored.  I'll look into why its not working.

[2015-02-24 09:41] mbjones opened #124 "missing TextType implementation"
Several fields that in EML are typed as `TextType`, such as `abstract` and `intellectualRights`, are produced via the R EML package as if they were simply character strings.  I may be missing it, but I don't see a mechanism for adding the `para` and `section` elements of the `TextType`.

[2015-03-13 06:18] mbjones opened #125 "add otherEntity support"
Need otherEntity to define non-tabular data.  Must also include related classes such as `physical/dataFormat/externallyDefinedFormat`.

[2015-03-13 06:19] mbjones commented on #125
Initial implementation checked in via sha d10e075465c75337076296cdce48afd4cd1b45d8. Needs review.

[2015-05-01 21:28] rBatt opened #127 "?write_eml typo"
https://github.com/ropensci/EML/blob/master/man/eml_write.Rd#L25

should be ?data.set, right?

[2015-05-01 22:00] cboettig commented on #127
No, it's dataset.  See ?dataset.   We're deprecating the data.set idea,
which was a kind of extension of data.frame.

On Fri, May 1, 2015, 2:28 PM Ryan Batt <notifications@github.com> wrote:

[2015-05-01 22:17] rBatt commented on #127
I get an error when doing `?dataset`, but not for `?data.set`

[2015-05-02 04:14] cboettig commented on #127
Ah good point; yeah, the docs are really incomplete right now.  dataset
passes most of these options down to the lower-level stucture 'dataTable'
anyhow, so you can see ?eml_dataTable. The 'writing EML' vignette might be
a bit better intro
https://github.com/ropensci/EML/blob/master/vignettes/Advanced_writing_of_EML.Rmd
for now, but lots of rough edges still

On Fri, May 1, 2015 at 3:17 PM Ryan Ba

[2015-05-04 22:47] rBatt opened #128 "broken link to `Advanced writing of EML`"
The read me has a link to the following:

https://github.com/ropensci/EML/blob/master//vignettes/Advanced_writing_of_EML.md

But I think it's intended to go here:

https://github.com/ropensci/EML/blob/master/vignettes/Advanced_writing_of_EML.Rmd

2 characters off

[2015-05-04 22:47] rBatt commented on #128
I only found the right page because of links in #127

[2015-05-04 23:05] rBatt opened #129 "How to use a custom unit? Confused."
First, note that on the front page of the repo, the read me's link "[define a custom unit](https://github.com/ropensci/EML#)" simply returns one back to the same page – this is it's own issue perhaps.

When I do `?eml`, I see the `custom_units` argument, and that has a link to the help file for `eml_define_unit`. As far as I can tell I've successfully created the custom unit, but I can't seem to u

[2015-05-04 23:37] rBatt commented on #129
@cboettig

Here is a simpler example that produces the same problem for me:

[code]

[2015-05-05 21:37] rBatt opened #130 "example for creating additionalMetadata manually?"
I'm unsure of how to get some of the formatting correct. Thus far I've relied on the S4 classes and filling slots, or using the helpful functions.

for the additionalMetadata, the `metadata` slot doesn't really provide much help, I don't think.

In particular, how am I supposed to enter tags?

[code]

How am I supposed to write that manually?

[2015-05-05 23:47] cboettig commented on #130
It isn't really expected that users will write additionalMetadata nodes
manually.  Rather, metadata in this section may be generated by various
other automated utilities when an appropriate field does not already exist.

Can you let me know a bit more about what you mean by tags?  If you are
looking for keywords, there the eml_keyword function that is shown in the
'advanced writing' vignette.

@mb

[2015-05-06 00:04] mbjones commented on #130
@cboettig Well, it depends if there is a standard field where that information belongs.  For example, if these are taxonomic references that help define the taxonomy used in the data, then they should probably be listed in the [`classificationSystemCitation` field](https://knb.ecoinformatics.org/#external//emlparser/docs/eml-2.1.1/./eml-coverage.html#classificationSystemCitation).  But, if there i

[2015-05-06 00:18] rBatt commented on #130
@cboettig by "tags" I meant `<additionalLinks> </additionalLinks>`, etc. I.e., HTML tags (that's what they look like to me).

As I'm learning more about the standard fields in EML, I'm able to find homes for the information I have. That's great. However, there are some things that just aren't easily included.

For example, describing the crossed/nested structure of columns, whether something like

[2015-05-06 18:09] rBatt opened #131 "no check for definition length to match column #"
in `eml_dataTable` it would be helpful if there was an initial check to unsure that the length of the arguments `col.defs` and `unit.defs` matched `ncol(dat)`.

I was getting pretty confusing behavior when I had accidentally only defined 36 of the 37 columns – I was being prompted to define the `unitType` of one of the values in an element of my `unit.def`. Took me a while to track down the error

[2015-05-06 18:21] mbjones commented on #131
Good idea. I agree.

[2015-05-06 21:03] cboettig commented on #131
+1.

I wonder if we should rethink the data structure for specifying these things in order to make it harder to make that kind of error in the first place?  For instance, it might be better to specify the column definition and the unit definitions in the same data structure to make sure they are aligned properly.

Originally we had something closer to this: instead of `unit.defs` and `col.defs` yo

[2015-05-06 21:34] rBatt commented on #131
I agree that it's tough to think of how things should be organized.

My biggest challenge has been figuring out what should be filled in, and
*how* it can be filled in (e.g., it was a surprise to me that I could only
list 1 contact). Keep in mind that I'm learning about EML via this package,
so for me it's really an intro to metadata as well. Regardless, the only
thing that feels clumsy about the

[2015-07-13 19:35] cboettig opened #132 "Units and unit conversions integration with udunits2 package"
The `udunits2` package provides conversions between most common units using bindings to the Unidata library: http://cran.r-project.org/web/packages/udunits2/index.html.  Since synthesis across data tables usually requires conversion between units, a clear interface to the package can be handy.

At a more basic level, the unidata bindings appears to have utilities for parsing strings into recogniza

[2015-10-27 01:18] #122 closed

[2016-01-20 03:02] mbjones opened #133 "eml_coverage() fails to handle xsd:gYear values"
The `eml_coverage()` method works fine with ISO date values in its `dates` argument, but if the date value is changed to a `gYear` value (which is valid in the EML specification as an `xsd:gYear`), then instead a NA is entered in the date fields.  To illustrate, note the NA values in the second invocation below:

[code]

[2016-01-21 00:38] cboettig commented on #133
@mbjones Thanks, should be fixed in master version.

The original version of `eml_coverage` was too opinionated, it wanted to make your date look like an ISO8601 format even if you gave it in another format (more particularly, it wanted to convert your string to a dateTime object).

To avoid these issues I've just dropped that part so now you can give it any string, which means that `eml_coverage(

[2016-01-21 03:44] mbjones commented on #133
@cboettig Thanks for fixing that, Carl.  Given that you are not doing validation in the S4 classes (yet), it seems reasonable to just let the user pass in what they want, and do our best to convert it.  It would be nice if it could take a dateTime object as well and extract the right string if that is what it is given.  But if its given a string or number, it should probably just pass it through a

[2016-01-21 04:41] cboettig commented on #133
Thanks for the feedback, very helpful.

[2016-01-21 04:41] #133 closed

[2016-01-21 04:46] #127 closed

[2016-01-21 04:48] cboettig commented on #125
LGTM

[2016-01-21 04:48] #125 closed

[2016-01-21 04:51] cboettig commented on #121
the package is pure R, so I any cross-platform issues will almost surely come instead from the package dependencies. Guess Appveyor might help catch those cases but probably not crucial, particularly if we can avoid non-CRAN hard dependencies to begin with.

[2016-01-21 04:51] #121 closed

[2016-01-21 04:55] cboettig commented on #62
Users can extract input text for EML from a variety of formats, including docx, but need not have that baked into EML itself.

hmm, we've had some quite thorough discussions in some of these old issues threads!

[2016-01-21 04:55] #62 closed

[2016-01-26 11:31] ivanhanigan opened #134 "Typo related to vexatious issue of 'wide' data"
As described in pull request #126,  [https://github.com/ropensci/EML/blame/master/manuscripts/one-simple-way.Rmd#L234](https://github.com/ropensci/EML/blame/master/manuscripts/one-simple-way.Rmd#L234)  I believe there is a typo in this section and you mean to say 'observations for a single site added as additional columns' rather than 'rows' as it currently reads.

[2016-01-27 04:38] cboettig commented on #134
Hadley's "tidy data" concept, which is essentially based on "[Codd's third normal form](https://en.wikipedia.org/wiki/Third_normal_form)", states that additional observations should always be rows, while additional variables should be columns.  While I still believe this is generally a good idea, and has gotten easier to accomplish in R thanks to packages like `tidyr` and `dplyr`, I also now feel

[2016-01-27 04:38] #134 closed

[2016-01-27 04:57] ivanhanigan commented on #134
Thanks for your comments.  I agree.  Perhaps the words can still be used somewhere, but I suggest slight re-phrasing such as:
[code]

Thanks again!

[2016-02-02 19:56] mbjones opened #135 "adding `directory` XML attribute to EML document"
@cboettig We want to use the EML `userId` element within the creator field, but it requires the `directory attribute to be set.  I'm unclear how to do that.  In the end, the EML we want would be:

[code]

In the R client, I think you would do:
[code]
I'm not sure right off how you set the required `directory` attribute in the EML package. Any pointers?

Also, in party_classes.R, shouldn't the resp

[2016-02-02 23:07] cboettig commented on #135
Okay, think this is fixed on the `eml-basics` branch (which strips out some of the deprecated dependencies like the publish to figshare or old dataone package).

@mbjones also see my email about eml2, hope we can avoid all these incomplete-implementations in the current version (e.g. almost all are like this where some node is just a "character" instead of a full implementation of the element/comp

[2016-02-02 23:25] mbjones commented on #135
Thanks @cboettig we'll give it a spin.

[2016-02-02 23:51] mbjones commented on #135
@cboettig I tried it, but ran into an error when trying to load the package:

[code]

Just pushed a fix in sha 3ee931b. Can you see if that still works for you?

[2016-02-03 01:31] cboettig commented on #135
Whoops, guess i didn't push second commit; Travis also caught that one.
Fix looks good by eyeball

On Tue, Feb 2, 2016, 3:51 PM Matt Jones <notifications@github.com> wrote:

--

http://carlboettiger.info

[2016-02-10 17:35] sbpcs59 opened #136 "eml_read() error while parsing content"
Reading a remote file produces the following error:

[code]

This error occurs with version httr_1.1.0, when content(GET(file), "parsed") returns xml2::xml_document.
One solution is to return text, i.e. content(..., as="text") and parse the document manually.

[2016-02-10 18:47] cboettig commented on #136
thanks.  Just a heads up, this EML implementation really isn't schema-complete and I'm working on a replacement I hope to have functional soon: https://github.com/cboettig/eml2/issues/1

[2016-02-16 21:11] mbjones commented on #135
Also ran into a problem whereby the fix did not serialize the `directory` as an attribute, plus it got the case wrong of the `userId` element. Fixed both in sha 670825bc29525a4d0ddb480829ffc80f3341ac45, even though I know you are working on eml2. This is only on the branch at this point -- not sure how you plan to merge to master.

[2016-02-17 20:38] cboettig commented on #135
Hi @mbjones ,

Thanks.  Can you see if you can use `eml2` instead of EML now?  Or otherwise let me know if there is any functionality that EML has that we don't have in `eml2` that I can prioritize?

It is pretty stripped down in terms of helper functions, but the class definitions are much more complete and accurate, and it should avoid (almost all of?) these issues.

Good question, not sure how

[2016-02-17 21:03] ivanhanigan commented on #135
Dear @cboettig,
I am keenly following your EML developments as you know, ever since the first `reml` package.
I'd just like to ask what is the rationale for creating the new `eml2` and deprecating `EML`?
It seems that you have made major modifications to the way you set up `EML`, and now aim to deprecate it, and move forward with the replacement `eml2` instead.  My question is why not just make th

[2016-02-17 21:39] cboettig commented on #135
@ivanhanigan Thanks, you are right on point.  `eml2` is a complete rewrite, since most of the code is generated programmatically from the EML schema rather than written by hand as it was here (which is both less complete and more error-prone).  Hence I started it as a new repo rather than a branch of this repo.  `eml2` also aims to address all the limitations that led to me never actually releasin

[2016-02-17 23:54] mbjones commented on #135
@cboettig We could try to start using the eml2 package, but it will take a bit as we have some short-term deliverables that are currently built using the EML functions.  Like @ivanhanigan, I'd rather see it as a new release of EML for continuity, even if its released to cran as version 2.x (which, nicely would correspond to the EML metadata release as well). And it would have the advantage of not

[2016-02-18 00:02] cboettig commented on #135
@mbjones Great, thanks.  Will plan to merge into EML repo then as soon as `eml2` has minimal functionality.  Just have to figure out what that entails.

Can you give me any hints as to what EML functions you are using currently?  I can try porting over the functions & methods in the EML namespace, but I think some are poorly designed and would be better to deprecate.  Getting a better sense of how

[2016-02-18 00:28] mbjones commented on #135
@cboettig In the current script we are writing, we are using the functions and slots shown below.  We are reading in a template EML document, then using R to add in a bunch of details from hundreds of thousands of tar and netcdf files.  You'll notice that a lot of the time we're directly manipulating slots in constructed objects.  We're not at all wedded to this API, and are mostly using what is t

[2016-02-27 06:15] cboettig commented on #136
Merged `eml2` into `EML` master branch.  `eml_read()` logic is simpler and no longer supports reading directly from a network connection, but offers a much smaller dependency footprint as a result.  Users can download file first however they prefer; while eml_read()'s behaviour is more predictably aligned with xmlParse.

[2016-02-27 06:15] #136 closed

[2016-02-27 06:20] cboettig commented on #135
`directory` attribute and `userId` element name are fixed by merge of `eml2` repo into EML master (as @ivanhanigan suggested above); closing this issue.

To address other things in this thread: Overall creation of EML should be easier now using `new()` constructors (which now use custom `initialize` methods to streamline coercion to appropriate types and `ListOf` objects), with a few functions to

[2016-02-27 06:20] #135 closed

[2016-02-27 06:26] cboettig commented on #131
Merge in of `eml2` deprecates the `unit.defs` & `col.defs` method in favor of using a data.frame to specify attribute metadata, as discussed in https://github.com/cboettig/eml2/issues/11, (will document properly in README & vignettes soon).  Each attribute (column in the data being documented) is a row in this attribute `data.frame`; the `data.frame` structure naturally enforces alignment of unit

[2016-02-27 06:26] #131 closed

[2016-02-27 06:29] cboettig commented on #124
Done by `eml2` merge, 0358852ec27d262a2e9d92a4b7f6835ffd7d8e59.
`para` and `section` are now child slots for any `TextType`, though a bit special in that they allow direct XML, since construction of docbook markup as S4 slots doesn't really make sense.  (note that the internationalization methods with `value` elements also fully implemented).

[2016-02-27 06:29] #124 closed

[2016-02-27 06:30] cboettig commented on #128
Issue deprecated by `eml2` 0009056630bb3215dcb26f54c46a725681602010.  new vignette to come.

[2016-02-27 06:30] #128 closed

[2016-02-27 06:32] cboettig commented on #114
EML no longer wraps `dataone` functions.  It should be easy enough to use `EML` side-by-side `dataone` to publish EML without needing a wrapper.  Authentication in the new `dataone` package is also greatly streamlined.

[2016-02-27 06:32] #114 closed

[2016-02-27 06:34] cboettig commented on #83
0009056630bb3215dcb26f54c46a725681602010

[2016-02-27 06:34] #83 closed

[2016-02-27 06:35] cboettig commented on #23
publish can be handled separately by `dataone` now

[2016-02-27 06:35] #23 closed

[2016-02-27 19:01] cboettig commented on #20
uploading EML to KNB, etc should now be handled in the `dataone` package, probably no need for an additional wrapper on EML end (also keeps dependencies lighter).

[2016-02-27 19:01] #20 closed

[2016-02-27 19:05] cboettig commented on #15
Using existing XSLT stylesheets for conversion between standards is probably the way to go for this, but won't be wrapped into the `EML` package at this point.  Such conversions can be done with R and omegahat SXSLT, but since SXSLT isn't on CRAN  and this is a relatively straight-forward thing to do with other tools as well, will close this as out-of-scope for now.  Certainly re-open if or when t

[2016-02-27 19:05] #15 closed

[2016-02-27 19:07] cboettig commented on #104
This may largely be addressed by codemeta package (and/or other work connected to dataone?)  Basic construction of the software EML should be straight forward with `new()` constructors.

[2016-02-27 19:07] #104 closed

[2016-02-27 19:10] cboettig commented on #29
Appropriate thing here would probably be a helper function to construct the `read.table` R options from the `<physical>` node documentation.

[2016-02-27 19:12] cboettig commented on #24
`eml_figshare()` publishing now deprecated.  Researchers can easily deposit EML metadata on figshare (with `rfigshare` or the web interface), but the EML will always be more valuable on a metacat repo that can actually allow repository users to query metadata embedded in the eml.

[2016-02-27 19:12] #24 closed

[2016-02-27 19:25] cboettig commented on #72
As discussed on the listserve (link above), the general idea here of having the dataset cite the paper is a common impulse for researchers publishing data & EML alongside a research paper (i.e. seeing the paper as the canonical source for information about the dataset, and also the preferred object to cite from a social/cultural but not technical standpoint).  From a practical standpoint it would

[2016-02-27 19:25] #72 closed

[2016-02-27 19:26] cboettig commented on #97
All modules now present since merging 0009056630bb3215dcb26f54c46a725681602010

[2016-02-27 19:26] #97 closed

[2016-02-27 19:28] cboettig commented on #76
not obvious how to do this generally.  Users can always leverage the scriptable nature of EML to automate generation of appropriate `coverage` elements from their data though.  May be good to illustrate in vignettes.

[2016-02-27 19:28] #76 closed

[2016-02-27 19:30] cboettig commented on #101
`eml2` no longer tries to be so clever on remote access of files.  Automatically reading in the data file into R doesn't make sense in many use cases anyway.  Instead, best to return appropriate information (e.g. get_physical() or similar kind of function) that could assist reading in data accurately (see #29).

[2016-02-27 19:30] #101 closed

[2016-02-27 19:32] cboettig commented on #91
won't implement, see #72

[2016-02-27 19:32] #91 closed

[2016-03-01 18:37] cboettig opened #137 "Documenting Methods & other long-format textType: Docbook vs EML conventions"
Looking for feedback from @mbjones and others on the best interface for handling the creation of long-form text in EML documents.  In particular, I might need some clarification from @mbjones on what part of Docbook EML does and doesn't support.

My proposal here is that the author would write long-form documentation, such as a `<methods>` section, in one or more markdown files.  This is more natu

[2016-03-01 23:43] ivanhanigan commented on #137
I'm interested in this change in direction.
Back in the day
https://github.com/ivanhanigan/EML/blame/master/vignettes/Advanced_writing_of_EML.Rmd#L288
used Word docs.
I worked with field ecologists and we got lots of documentation in Word.  I
was thinking that approach would be easiest (ie how many are going to start
using markdown?).
I also started suspecting that a couple tables in a word docume

[2016-03-02 00:20] lwasser opened #138 "read_eml - slower to read & a class issue"
Hi @cboettig .
I am reworking our EML lessons.

The following code returns the warning below
[code]

WARNING:
[code]
It seems to also be slower to load than it was previously (this may just be in my mind). Can you please explain what this warning means?
Thank you!

[2016-03-02 00:27] lwasser opened #139 "eml_get --replacement & EML validate"
Hi again @cboettig
eml_validate is hanging on the file:
[code]
Any thoughts on this?

Also previously i was using eml_get as follows to extract key metadata components. What is the suggested workflow now given the most recent updates?

[code]

Would i use a slot approach with `@` signs? Thank you.
eml_HARV@dataset - is hanging significantly as well.

[2016-03-02 01:49] cboettig commented on #137
@ivanhanigan thanks much!  You're definitely right, we should support Word for this as well.  Fortunately, pandoc makes this easy, since we should be able to offer any pandoc input format, including Word, to transform into Docbook and then into EML.

[2016-03-02 06:29] cboettig commented on #138
hmm, I can't reproduce the warning at this time.  Can you start with a clean R session, load the library and run the read again and see?  That may be related to the slowness you see as well.

(Installing from source results in a lot of stuff clogging up the cache with the S4 classes for some reason).  The functions do take a little while to run on that EML file, which is I think a function of it's

[2016-03-02 06:48] cboettig commented on #139
Re: `eml_validate()`, works fine for me, not sure why it should hang.  `eml_validate()` is currently just doing schema validation, so it's just a thin wrapper around `XML::xmlSchemaValidate()`.  May be related to #138; do try a clean restart.

`eml_HARV@dataset` takes a long time to print for me too (~2 minutes!), though doesn't hang.  We'll have to look into speeding that up.  Note that the actua

[2016-03-02 22:29] lwasser commented on #138
Ok - i did a reboot and it imports now without that error. Thank you, Carl. I'll close this issue for now!

[2016-03-02 22:29] #138 closed

[2016-03-02 22:50] lwasser commented on #139
thank you so much, @cboettig for addressing these questions! i'm trying to understand how slots have changed so I can better access elements of the file.

In the file above, how do I access x and y coordinates? it seems as if "indexing" by slot has changed too. When i try to find "coverage" as a slot, the options that i have after

`eml_HARV@dataset`

Have changed. How do i access coverage informa

[2016-03-02 23:05] lwasser opened #140 "Error in metaclasses[[s]] : attempt to select less than one element"
HI @cboettig - i'm running into another error with another EML file.

When i try to read with `read_eml()` i get the error
[code]

can you please help me understand what this error means? I did notice that the indentation / hierarchy of the file is a bit unusual - could that result in this error?

The file:
https://github.com/NEONInc/neon-eml/blob/master/neon_eml_components/NEON_EML_Boilerplate.xm

[2016-03-03 06:16] cboettig commented on #140
@lwasser hmm, sounds like a bug, but I'm getting a 404 on the link to the file.  Have you checked that the file is valid? (Note that `eml_validate()` can take a file name as an argument, so it's not necessary to run `eml_read()` in order to validate the file.)

[2016-03-03 06:29] cboettig commented on #139
Short answer: You now need one more slot in your chain: `eml_HARV@dataset@ResourceGroup@coverage@...`

Admittedly, this was perhaps an unwise change, because just looking at the XML you don't see anything called "ResourceGroup".  A "ResourceGroup" is a collection of slots that used to all be direct slots in a `dataset`, but are now all grouped together as child slots.  You can get a sense of how t

[2016-03-03 18:52] lwasser commented on #140
Hi @cboettig maybe the repo is private? I just uploaded it here

https://github.com/lwasser/testRep/blob/master/NEON_EML_Boilerplate.xml

But here is the message i get for EML_validate when i open the file locally
[code]

## Response:
[code]
## Code:
[code]
## Response:
[code]

$filename
[1] "/Users/lwasser/Documents/Github/neon-eml/neon_eml_components/NEON_EML_Boilerplate.xml"

attr(,"class")
[1]

[2016-03-03 19:06] cboettig commented on #140
Yup, the repo you linked is probably private, so I cannot see the file.  please feel free to attach the file to this issue and I'll take a look at it.

It does look like the eml file is not valid though, which might be part of the reason why `read_eml()` cannot parse it (though even some invalid eml should still parse, so probably a bug on my end).

[2016-03-03 19:19] cboettig commented on #140
whoops, I didn't see you had a new link there.  Great, I'll take a look and see what's up.

[2016-03-03 20:01] lwasser commented on #140
I just emailed you the file as well. Github doesn't seem to approve of attaching .eml files to an issue!

[2016-03-04 04:46] cboettig commented on #140
Thanks.  Re the validity issue, the error msg is telling you, all be it crypically, why it's not valid:

[code]

If you look at the XML, you'll see the first child element to your `dataset` is `creator`.  A `title` is a required field which is missing from your document, and has to come before a `creator` in EML.  (If you look at [this diagram](https://github.com/ropensci/EML/blob/master/inst/xsd/

[2016-03-04 19:20] mbjones commented on #139
We should discuss whether ResourceGroup (and other groups) should really be in the object model.  It does not show up in the XML documents, and is really only an XSD schema construct so that a reusable set of elements can be defined.  I think I would argue that we shouldn't have the ResourceGroup in the R class at all, but instead have slots for all of the elements contained in the ResourceGroup.

[2016-03-04 19:51] cboettig opened #141 "Should ResourceGroup and related types not be a slot?"
Been meaning to open this question up even before it arose in #139.  In the current implementation, the `dataset` element (and related elements) have an explicit slot called `ResourceGroup`.  This is confusing to anyone looking at the raw XML, since there is no element named `ResourceGroup`.  Instead, it refers to a collection of common, related elements (including title, creator, abstract, and so

[2016-03-04 19:53] cboettig commented on #139
@mbjones @lwasser yup, very good point.  For clarity, this is now it's own issue: #141

[2016-03-04 21:07] lwasser commented on #140
Ok - thank you @cboettig I've been doing some reading on the specifications.

1. the above fixed import! no error on import if i add

[code]

2. the old version of the eml package imported the file anyway - no error even without `distribution`.

3. my question - is the `distribution` element in the eml specs? i had a hard time finding / understanding how I would know to add the distribution elemen

[2016-03-04 21:11] lwasser commented on #139
@mbjones @cboettig i'll have a look at the new issue. from a user perspective it's very confusing to use a slot that i can't see in the actual xml file. it also is confusing as an educator to explain to people. i'd lean towards not using it but will read the other issue more carefully first!

[2016-03-04 21:24] cboettig commented on #140
@lwasser yes, the `distribution` element is in the official EML spec, though I completely agree with you that it is not at all obvious!  I'm hoping that if you created your boilerplate document with the R package it would help make it easier to figure this out and harder to make this mistake!  For instance, if you were creating a citation in the R package, you might do: `getSlots("citation")` and

[2016-03-04 22:35] lwasser opened #142 "What are factors related to a spatial dataset? - set_attributes()"
Hi @cboettig  -- ok i'm trying to create my own EML file using the package for one of our AOP datasets given that's the IPT i work on now. I'm running into issues with  `set_attributes`. It requires a `factor` element however i don't understand how that relates to the attributes of a raster. IN this case, the raster is reflectabce. the values are 0-10000 with a scale factor of .0001 as defined in

[2016-03-04 22:55] cboettig commented on #142
whoopsies, that's a bug!  You should be able to leave factors out if you don't have factor (enumeratedDomain) data. fixing now.

[2016-03-04 22:55] mbjones commented on #140
Sorry if the EML docs are confusing. Mea culpa.  But, in my defense, its actually a pretty extensive vocabulary with lots of options and depth, and it was hard to find a simple way to document it.  The XSD files are the definitive source of info, and it should be extremely clear from the XSD files what is required where and when.  The HTML documentation of the spec is generated from the XSD files,

[2016-03-04 22:58] cboettig commented on #142
(Also just a note that as per your and @mbjones advice in #141, I'm looking to eliminate those metagroups, so there won't be a `new("spatialRaster", EntityGroup = mygroup` any more, you'll have to spell out each of those slots).

[2016-03-04 23:11] cboettig commented on #140
@mbjones didn't mean to complain, your right that EML kinda has to be complex to handle the use cases.  I am curious about how you think we should be thinking about Model Groups though, since that's closely related to the question in #141.  Based on your and @lwasser feedback it sounds like we in some way do want to gloss over Model Groups; e.g. avoid a class representation for "ResourceGroup" etc

[2016-03-04 23:18] lwasser commented on #142
perfect. Thank you for fixing this! :)

Re: the new approach? Will that allow for increased flexibility in terms of adding potentially yet to be defined attributes? (custom attributes).

What would that look like in terms of syntax? Per the spec, you need to have either dataTable, spatialRaster or spatialVector .

[2016-03-04 23:21] mbjones commented on #140
@cboettig I think there are different use cases.  The EML specification is meant to accurately reflect the XSD schema, as it documents how the schema works.  In the end, its not probably the best end-user documentation, but is useful for anyone trying to understand the EML XSD files.  We could really use some better end-user docs, and those I think should gloss the Model Group constructs, as those

[2016-03-04 23:26] cboettig commented on #142
Not sure I follow.   Re #141 issue, this just means that declaring and accessing slots should work just the way it looks in the XML.  e.g. in a dataset you see:

[code]
and thus the R will now use the more intuitive: `dataset@title` to access and the `new(dataset, title = MyTitle")` to create, instead of the `dataset@ResourceGroup@title` and `new(dataset, ResourceGroup = new('ResourceGroup', title

[2016-03-04 23:27] #141 closed

[2016-03-04 23:34] cboettig commented on #140
Yup, agree that would ultimately be very nice; maybe open an issue for that?

I also like the suggestion that the print structure should print required but missing elements.  (Might be harder to signal if elements are out of order.  & Of course consistent color feedback in a terminal can be tricky, though Gabor's done wonders with https://github.com/gaborcsardi/crayon ).

Meanwhile, you can hack s

[2016-03-04 23:35] cboettig commented on #139
Okay, I think this is now resolved now that #141 is closed?  Feel free to re-open or open a new issue if I've missed things (more than likely)...

[2016-03-04 23:35] #139 closed

[2016-03-04 23:36] cboettig commented on #142
@lwasser sorry didn't mean to close, just meant that I'd fixed the `factors` bug.  Just close this when you're ready.

[2016-03-04 23:59] lwasser commented on #142
@cboettig no problem. I also understand wanting to close / address issues! i made my question too complicated. i just want to understand how to code this now with the changes in place

[code]

i get the error:
[code]

(i tried name and description as well and got the same error).
I am able to now access the slot `@coverage` directly which is nice.

The factor issue seems to still be coming up. I r

[2016-03-05 00:15] cboettig commented on #142
@lwasser Um, spatialRaster doesn't have slots called `title` and `abstract`.  (Those belong to objects that contain "ResourceGroup", not objects that contain an "EntityGroup", but since we closed #141 you can forget that complexity).

Do `getSlots("spatialRaster")` and you'll see what slots it has.  It has something called `entityName` and `entityDescription`, which might be what you are looking f

[2016-03-08 18:19] lwasser opened #144 "Extract & generate metadata from data objects (e.g. spatial `sp`, `raster`, etc)"
Hey @cboettig - i'm trying to wrap up a lesson and think you probably know the quick fix to this. I still am confused about accessing slots. I have created, a new, smaller eml file

[code]

previously i could access the x,y values using

[code]

You removed the resource group component but now this still isn't working.

I have tried get attributes however i'm a bit confused as to how to index that

[2016-03-08 18:43] cboettig commented on #144
Sorry about that, quick answer first:

[code]

The trick here is that EML permits multiple geographicCoverage elements, so `eml_HARV@dataset@coverage@geographicCoverage` is really a list of `geographicCoverage` elements, hence the `[[1]]`.  (The earlier version of EML ignored this fact, since most people use only one such element anyway, but that's not technically correct and cannot be assumed of

[2016-03-08 19:02] mbjones commented on #144
And just a quick note that many sites and people use the repeating geographic, temporal, and taxonomic coverage elements in EML, so its great to have this support in the R package now.  Its common for people to give bounding boxes for all of their sampling sites, as well as specific temporal ranges for when they did sampling, rather than overall boxes, especially when they only sampled a small par

[2016-03-08 19:03] lwasser commented on #144
ok thank you, @cboettig for your patience in answering these questions. the .Data part when using tab complete was throwing me off. So this means the information is stored / accessed via a list.

Re: attributeList - i was confused. It makes perfect sense that it defines data table units. I thought for some reason it was a means to index eml elements. My mistake!

[2016-03-08 19:04] lwasser commented on #144
+1 om @mbjones comment above as well! NEON is VERY likely to have those use cases.

[2016-03-08 19:07] lwasser commented on #144
ok - to clarify - to grab the actual coordinate value, I need:
[code]
I"m attempting to demonstrate how EML can be ingested and used in an automated workflow thus i need the coordinate values.

[2016-03-08 22:41] cboettig commented on #144
@lwasser yup that'll work.  If you don't like `@.Data` you can just do `[[1]]` instead, e.g.

[code]

It might be nice for us to hear/think more about the big picture workflow you have in mind too.  While a user can always subset in this way, there may be a role for a helper function that could, say, extract all the bounding boxes out of a coverage node like @mbjones describes and return the infor

[2016-03-08 22:59] lwasser commented on #144
@cboettig Great - Thank you! i'm still sorting that out but i have some ideas!

The first use case that i came up with was, wanting to quickly create a base map of the site location - pulling from an EML. This would be a part of early site exploration where you collect a bunch of base files and need to look at things spatially.

In this case, i wanted to plot the extent of the site. SO if there ar

[2016-03-08 23:07] mbjones commented on #144
@cboettig @lwasser It strikes me that, once the core part of this package is done, it might be really useful to have a little mini-hackathon where EML/R users could propose use cases, and we could review and code solutions to make those use cases for metadata creation straightforward.  This would probably really rapidly advance the cause.  Towards that end, maybe we should start a use case markdow

[2016-03-08 23:11] lwasser commented on #144
I think that's a great idea! It would also allow you to ID the more common use cases of interest to the community!  :)

[2016-03-09 00:19] cboettig commented on #144
Definitely!  Using the issues tracker for this sounds good to me.

This also seems like an area where having some good examples of what can be done and how could be essential (a la the Henry Ford quote, "ask people what they want and they say 'faster horses'").  @mbjones I really like the idea of a hackathon as a way to bridge that gap in connecting what is possible to what needs doing.

@lwasser

[2016-03-09 00:36] lwasser commented on #144
This is cool. Let me know how I can help in the brainstorming!

I will be largely offline / fairly busy for the next two weeks (Teaching our spatial lessons in Norway next week!) but then I'll be back online and able to provide input. TO me, the ability to pull out things like "scale factor", spatial extent, etc as usable values is a key use case! And then of course over multiple files / datasets.

[2016-03-09 02:23] ivanhanigan commented on #144
I like where this is going.  I want to voice support for using R to generate EML from the data, leveraging from `sp` for the spatial and `Date` for the temporal coverage info.  Possibly from `taxize` for the taxonomy stuff.

Data objects should not be very separate from EML documentation. When I worked on a metacat portal for ecological plot based collections, the data providers often sent data th

[2016-03-09 21:57] cboettig opened #145 "Feedback wanted on 'Creating EML' vignette"
Rendered vignette over on gh-pages branch: http://ropensci.github.io/EML/creating-EML.html.  Source in `vignettes/` dir of the repository.

This shows the use of most of the current methods, including creating an attributeList from a `data.frame` using `set_attributes()`, creating simple elements with the `new()` methods, reading in a `.docx` or `.md` for long text fields, and coercing R's `person

[2016-03-09 22:04] cboettig opened #146 "Vignette on Publishing EML"
As I've mentioned before, I think a killer app of EML is publishing to a metacat repo, and really want to add an example of this as a vignette.  In particular, this should show how the EML metadata then becomes searchable, and hopefully show also how to use EML in a 'controlled access' setting, where a user grants access to specific collaborators.

My hope is to illustrate how an individual lab gr

[2016-03-09 22:07] cboettig commented on #142
@lwasser Think we ready to close this?  Would be great if you could take a look at the draft vignette on creating EML (#145), which might also address some of the questions you highlight here.  Feel free to open new issues for anything that arose in this thread that we didn't get to yet.

[2016-03-09 22:07] #142 closed

[2016-03-09 22:09] lwasser commented on #142
Yes - let's close it! I'll check out the vignette!!

[2016-03-09 22:17] cboettig commented on #137
@ivanhanigan The new vignette shows importing from Word (`.docx`) into a methods element.

@mbjones Could use your advice here.  It appears that some things that are valid DocBook formats are not valid EML (as you probably already know).  I'm just not sure how best to address that.  For instance, if I put in an ordered list or boldface in a markdown file and let pandoc convert that to docbook, the

[2016-03-09 22:19] cboettig commented on #107
I think most of these issues are now addressed in the new re-write of EML, which provides somewhat simpler constructors for using multiple creators, etc.  Some of this is illustrated in the new vignette.

Note that the new version is not fully backwards-compatible with the old version, though much old EML code may still work.

[2016-03-09 22:19] #107 closed

[2016-03-09 22:21] cboettig commented on #140
Looks like we've hit upon several new issues in this thread, so adding them as new issues so I don't lose track.  Meanwhile I think we've resolved the bug here and the funny notation problem.

[2016-03-09 22:21] #140 closed

[2016-03-09 22:28] cboettig opened #147 "add validation routines / strategies to facilitate generating valid EML?"
As suggested by @mbjones in https://github.com/ropensci/EML/issues/140#issuecomment-192517186

Writing S4 validate methods may be too strict; in particular, it may sometimes be easier to create a new element that doesn't yet have all the required metadata, and then add that metadata later.  A validation method would object immediately, making this strategy harder.

Still, it would be super nice to

[2016-03-09 22:30] cboettig opened #148 "Nicer print method for results of `eml_validate`"
Currently we use the same format as provided by XMLSchemaValidate, which leaves something to be desired.  (On the other hand, some users might be familiar with this format).  Better that the function return `TRUE` (if valid) or `FALSE` along with a helpful `message` or `warning` describing the validation error, if any.

[2016-03-09 22:38] cboettig opened #149 "get_section(), docbook -> html?"
In #137 we discuss generating EML docbook from an external file, which is implemented in `set_section()` now.  It might be convenient to run this in reverse, allowing a user to render a methods section extracted from an EML file into HTML or other format?  Would be easy to have an analogous `get_section()` function for this, using pandoc.

Also, even though we are working with element named "secti

[2016-03-09 22:45] cboettig opened #150 "Generate coverage metadata from existing data files?"
Suggested by @ivanhanigan and others in #144.  The possible spatial data formats to do this might be too numerous for this package, but would be good to at least add a vignette or example showing how a `geographicCoverage` node could be automatically generated.

Overall, I think this is the strength of having EML in R and not some stand-alone software; that it should be easy for users to really _p

[2016-03-09 22:49] cboettig commented on #132
This is probably beyond the scope of the `EML` package itself, though may be fun to illustrate elsewhere. Converting between units in a data.table and joining two data.tables that use different units are quite generic problems, and can be straight forward to tackle with base R, or say, `dplyr` + `udunits2`.

[2016-03-09 22:49] #132 closed

[2016-03-09 23:02] cboettig commented on #110
Example of a custom unit:

[code]

Should be possible with `new()` constructors. Need to namespace `stmml` object classes.

[2016-03-09 23:13] cboettig commented on #129
To be fixed via #110

[2016-03-09 23:13] #129 closed

[2016-03-09 23:15] #130 closed

[2016-03-10 00:42] ivanhanigan commented on #147
Query: does this include looking at the data too.  So if the
geographicCoverage specifies a particular projection, or an extent, the
validation would involve checking that the data are actually projected in
that coordinate system and have that extent?  I have lost count of the
number of NetCDF climate grids that either are projected but don't declare
it in the metadata, or vice verca.  Also applie

[2016-03-10 01:13] mbjones commented on #137
@cboettig For various reasons and after extensive debate, the EML community decided to only allow a limited subset of markup in TextType sections, and decided to make this markup correspond to their docbook counterparts.  It is not, technically, docbook.  One could argue, and several people did, that any docbook should be legal in TextType.  But, docbook is an extensive language, and that would in

[2016-03-10 01:22] mbjones commented on #146
@cboettig More than reasonable, this sounds great!  Its exactly the use case we are trying to enable, and the dataone package is ready to handle all of the upload bits, as well as collate the data and metadata, make resource maps and system metadata, and handle other housekeeping.  Access control is handled in DataONE now via the SystemMetadata document associated with each object, rather than EML

[2016-03-10 23:25] cboettig commented on #147
@ivanhanigan Good question.  Once we have some routines that help automatically generate, say, geographicCoverage data from actual data files (as discussed in #150), it would be relatively straight forward to make such a comparison.  Might be better to discuss in that thread.

In this issue, I'm specifically concerned only with generating EML that meets the validation criteria of the schema, which

[2016-03-10 23:43] mbjones commented on #147
@ivanhanigan I agree with @cboettig that data parsing and validation is beyond the scope of the EML package, but I do have another project with Lindsay Powers and Ted Habermann to work on just that ability.  The @LTER network already has an EML quality checker that is part of their [PASTA](https://github.com/lter/PASTA) framework.  We will be extending this quality engine to include more metadata

[2016-03-10 23:46] cboettig commented on #137
@mbjones Good question.  I certainly can appreciate the perspective of those who want to keep EML markup not to burdensome to implement.

However, personally I think TextType is in a challenging middle-ground, where it is complex enough that it's really not that easy to work with directly, while being too simple to be docbook compatible.  I just imagine more users would either prefer to use a text

[2016-03-10 23:52] lwasser commented on #145
HI @cboettig . am i doing something wrong? when i click on that link i get a blank screen. user error?

[2016-03-11 00:02] cboettig commented on #145
@lwasser whoops, my bad.  Should be fixed now (though you may need to remove browser cache.  sidebar: a pity there's no natural way to commit HTML-compiled vignettes for R packages on GitHub; I've just compiled the Rmd and stuck it on the gh-pages branch.  I had accidentally committed the RStudio preview file instead of the actual html output).

[2016-03-11 00:03] cboettig commented on #145
@lwasser Would definitely be interested in working on a spatial module vignette with you.  That would probably help surface some cases where we want to write some dedicated helper `set_` or `get_` methods, vs where the low-level methods are easy enough.

[2016-03-11 00:10] cboettig opened #151 "Feedback / Improving `set_attributes()` function"
The [creating EML vignette](http://ropensci.github.io/EML/creating-EML.html) shows the `set_attributes()` function in action, and I think it's generally the right idea but could use some feedback.

While I like that it operates on a `data.frame` as an argument (and, though not shown in the vignette, this is the same `data.frame`s returned by parsing an EML document and using `get_attributes(eml, j

[2016-03-11 00:10] lwasser commented on #145
Ok wonderful. When I am back from my trip I will dig into this vignette further and will start on a spatial file!

[2016-03-11 11:58] ivanhanigan commented on #146
I agree with you that it will be a killer app to "illustrate how a lab group could use these tools to manage their own data in a secure, backed-up, and searchable environment", " to create more thorough and consistent metadata (as they benefit directly, instead of just altruistically helping their ... competitors ...)".

WRT `rdataone` package... is what @mbjones describes going to be easy for any

[2016-03-11 12:13] ivanhanigan commented on #116
I tried building such a thing using `web2py` interface to a shared `PostgreSQL` database (or `SQLite` if you are a sole trader).
https://github.com/ivanhanigan/data_inventory

This is a relational DB with a table for `project`, `dataset`, `entity` info and links between `dataset` and `intellectualRights`.  Me and a team of data librarians were all concurrent users to the database, curating data on

[2016-03-11 12:17] ivanhanigan commented on #99
Hey, is this the same as #116?

[2016-03-11 12:24] ivanhanigan commented on #78
I think you deal with dates as well as can be expected given the tricksy nature of the beast.  You van probably close this issue hey?

[2016-03-11 12:31] ivanhanigan commented on #51
@cboettig I think this would look like one package for `Allen`, another for `Myers`, and a third for `combined`.  But if you're current streak of closing `EML::issues` is to continue unabated I'd recommend logging this particular idea in your notebook or somewhere else so the `github EML` package can launch onto `CRAN` asap.  Tell me if I am out of line here?

[2016-03-11 12:36] ivanhanigan commented on #29
Hi mate, I think, as you commented in #134 (and #126) `such issues are beyond the scope of EML package which should just let you try your best.`.

[2016-03-11 12:40] ivanhanigan commented on #17
Hi mate, I think, as you commented in #134: the "aim at just writing the EML for the data it is given without any fuss over best practices issues."
(and #126) such issues are beyond the scope of EML package which should just let you try your best..

[2016-03-11 17:30] cboettig commented on #99
@ivanhanigan yup.

[2016-03-11 17:30] #99 closed

[2016-03-11 17:31] cboettig commented on #17
Yup, right on.

[2016-03-11 17:31] #17 closed

[2016-03-11 17:38] cboettig commented on #78
Yup, right.  Meanwhile there's a good ecosystem for dealing with dates in general; e.g. `readr` package `read_csv()` does a much better job reading in dates, and lubridate for manipulating them.  But now that we're just focused on the metadata representation we aren't assuming the actual data table is even read into R anyway, so like you say these issues are now beyond the scope here.

[2016-03-11 17:38] #78 closed

[2016-03-11 17:39] cboettig commented on #51
right on.

[2016-03-11 17:39] #51 closed

[2016-03-11 17:41] cboettig commented on #29
We cover creating most of these in `set_physical()` already (though just using the EML terms, not the R terms), so it probably would be reasonable to have a `get_physical()` that returns the options for `read.table()` (and maybe `readr":read_table()`)

[2016-03-11 19:51] mbjones commented on #146
The `dataone` package can be used against any Metacat instance that has enabled the DataONE API in the configuration.  That said, there will be some authentication issues for standalone Metacat instances, in that the Metacat admin will need to work out how to issue authentication tokens, as this is something that is currently handled by DataONE itself.  One of the services DataONE provides is a gl

[2016-03-15 02:09] ivanhanigan commented on #144
@mbjones re https://github.com/ropensci/EML/issues/144#issuecomment-194010572
I raised this opportunity for the Brisbane Australia rOpenSci 2016 unconference Australia
https://github.com/ropensci/auunconf/issues/11

[2016-03-21 21:51] cboettig commented on #146
**development note** this has been started here: https://github.com/ropensci/EML/blob/master/inst/examples/metadata-repositories.Rmd , but stalled at the moment due to possible bugs or user errors preventing me from actually getting the private sharing working on the DataONE dev server, see: https://github.com/DataONEorg/rdataone/issues/138

[2016-03-21 22:24] mbjones commented on #146
@cboettig  That's great. Thanks.  We're releasing a new repo this week, but
will get back to you with trying to figure out why your access control
rules aren't working.

Also, in your DOI section at the bottom, a quick note:  in addition to
giving the new DOI to the `new()` API call, you should also be setting it
as the `eml@packageId` in your `sampleEML` file.

On Mon, Mar 21, 2016 at 1:52 PM, Ca

[2016-03-21 22:50] cboettig opened #153 ""eml_get" method that need not assume much knowledge of the EML schema"
A command like:

[code]

assumes the user is familiar enough with EML schema to construct the above S4 path to the desired element.  While this is a useful low-level function, it is not exactly a user friendly design.  I think we should have a higher-level function that would find all `attributeList` elements regardless of where they appear in the EML document and return them (e.g. returning a lis

[2016-03-21 23:22] cboettig commented on #146
@mbjones thanks, yeah, I was a bit unclear on where it was best to use a DOI identifier.  So does that also mean that the the `packageId` returned by `uploadDataPackage` is the one given as `packageId` in the EML?

So even if we aren't using DOIs, like in the example further up, it would be ideal to set the metadata identifier to the value it has in `eml@packageId`?  (also if so, not sure how that

[2016-03-21 23:47] mbjones commented on #153
@cboettig I agree that the higher-level functions are needed for usability.  Its awesome that the low-level ones are now complete in their coverage of EML.  We're in so much better of a situation to build a highly usable package.

I think some targeted accessors would be the best bet, rather than the general-purpose `eml_get`.  For example, for data entities and attributes, what a user really need

[2016-03-21 23:54] mbjones commented on #146
Yeah,in general, the eml@packageId should match the identifier used for the create() or update() call that transfers it to DataONE (and it should match in the associated SystemMetadata as well.  Unfortunately, metadata standards have lots of ways of representing these id concepts, so we put the identifier in SystemMetadata to be totally clear and consistent.  The REST API uses the id as the key fo

[2016-03-22 18:14] cboettig commented on #153
@mbjones Thanks, this sounds great.  The first part of this is straight forward, it's mostly a semantic or UI question of whether it's better to have one function `find_all(eml_HARV, "dataTable")` vs separate functions like `find_all_dataTable(eml_HARV)`.  I've implemented the former now, which is convenient since it automatically covers any EML element, not just the ones I've written functions fo

[2016-03-22 20:01] mbjones commented on #153
@cboettig 'Entity' is the generic term in EML that we use to generically represent data tables, spatial rasters and vectors, and other types of data structures.  It is defined in [eml-entity](https://knb.ecoinformatics.org/#external//emlparser/docs/eml-2.1.1/index.html#N1014A), and provides the `EntityGroup` structure that includes all of the elements that are common to different entity types.  It

[2016-03-22 22:19] cboettig commented on #153
@mbjones Thanks, right, I'm familiar with `EntityGroup`, just wasn't sure if that's what you meant.  EML does deal with all of these, it is just a question of figuring out what behavior we want for each and what syntax we want for that behavior.

Do you feel it would be useful to have a function like `eml_data_entity()` that returns whichever entities exist, regardless of their type?  If so, what

[2016-03-23 02:04] mbjones commented on #153
I think we're on the same page.  `eml_get()` does seem really useful, and I think we should keep it for power users that already know and understand the structure of an EML document and the names of key elements.  The problem is, `eml_get()` as a function gives no guidance to the user as to how to get critical information out of an EML document.  Which is why I am suggesting some specific helper f

[2016-03-23 02:45] cboettig commented on #153
Awesome, yup, agree entirely with this view.  And thanks for the outline
above; figuring out what to focus on & what to omit is the crux of the
matter; and the above list is a good starting point.

This is basically along the lines I've already started with dedicated set_
and get_ methods for coverage (and it's three components), attributeList,
and so forth.  We should probably discuss each in its

[2016-03-28 20:04] ivanhanigan commented on #145
Re 'is that all readable':

On line https://github.com/ropensci/EML/blame/master/vignettes/creating-EML.Rmd#L138 you say

"To make the code below more readable (aligning code and definitions side by side), we define these first as named character vectors, and convert that to a `data.frame`. (The `dplyr::frame_data` function also permits this more readable way to define data.frames inline)."

* But

[2016-03-28 20:22] ivanhanigan commented on #145
I get this error:
https://github.com/ropensci/EML/blame/master/vignettes/creating-EML.Rmd#L286
[code]

Everything else worked as expected (removing methods from `dataset <- new("dataset",` let me complete the creation, validation and `eml_write` steps).

Looking good. I will have another read through of the text and comment on that next (ie you use the word slip twice in line https://github.com/ro

[2016-03-28 21:58] cboettig commented on #145
@ivanhanigan thanks much!  re `dplyr:frame_data` good point, that's a bit obscure (and worse, has the error on older dplyr versions), so I think I should just drop that comment.  I won't mention `read_delim` explicitly (after all most users might not want to write out tables in `emacs`), but I think we can assume users can create tabular data in whatever method they like (e.g. some might just make

[2016-04-09 02:26] ivanhanigan commented on #144
The Aussie ropensci unconference is in two weeks and led to this idea re attributes for functions/data that would be "retrievable as first-class objects via some method, or printable" https://github.com/ropensci/auunconf/issues/18#issuecomment-203679710.

I wonder if you have thoughts on that? I am not sure if this is compatible with the EML package approach.  I won't be able to attend Brisbane in

[2016-04-21 01:07] ivanhanigan commented on #145
Hey, I'm starting fresh on a VM and so will test all aspects of setting up a EML creation workflow.  First step is read the README.md, but I think this is an error, should it be `ropensci/EML`?
`r devtools::install_github("cboettig/EML")`
https://github.com/ropensci/EML/blame/master/README.md#L15

[2016-04-21 01:09] ivanhanigan commented on #145
Do you prefer I make edits/comments in my clone and submit a PR?  if so would I use the master branch or one of the others?  or create a new branch?

[2016-04-21 01:10] cboettig commented on #145
Yup, thanks

On Wed, Apr 20, 2016, 6:07 PM Ivan Hanigan <notifications@github.com> wrote:

--

http://carlboettiger.info

[2016-04-21 04:12] cboettig commented on #145
A PR against master would be great.  Do fix it in the `README.Rmd` file and re-knit, rather than edit README.md.  Thanks

[2016-04-21 07:00] ivanhanigan commented on #145
Hi, I've been at the Australian Ropensci Unconference all day (well, not really there, I am about 2000 kms away, but on slack channel).  I've got a complete (but invalid) minimal XML document for a dataset now.  The R script is in the README.md at https://github.com/swish-climate-impact-assessment/CTM_CSIRO_Sydney_Shipping_2010_2011/  Any comments would be great.  I might go thru the same steps wi

[2016-05-05 23:57] amoeba commented on #148
I think returning something with nicer formatting would be great. Returning TRUE/FALSE w/ messages makes sense to me. For the errors, I like one `message()` per error, where each message could have the format:

`{line}.{column}: {msg}`

The above format is similar to what `xmlstarlet val` produces, which is a tool I think some users may be familiar with:

[code]

I'll PR this if you think that'd w

[2016-05-06 00:11] cboettig commented on #148
A PR on those lines sounds great.

Currently we just validate the schema via libxml2, ideally we might capture the extra checks done by the online EML validator. That could be done by a form post w rvest or similar package, though that does increase the dependency footprint.  Think that would be worthwhile too?

[2016-05-06 00:28] amoeba commented on #148
Hrm, not sure. I do think that it would be nice if `eml_validate` was as fast as reasonably possible to support a use case like validating hundreds of documents in batch. So making an HTTP call for each file might make that use case painful.

By the way, which online EML validator is this? https://knb.ecoinformatics.org/#external//emlparser/ ? Or another one?

[2016-05-06 00:37] cboettig commented on #148
Yeah, that one.  Good point, let's stick with the current validation then and just clean up the format

[2016-05-06 17:28] cboettig commented on #148
Closed by PR #154

[2016-05-06 17:28] #148 closed

[2016-05-10 01:18] mbjones opened #156 "set_physical produces erroneous 'size' element"
Calling set_physical produces output for the size element that is invalid, like:

[code]

It should be:
[code]

[2016-05-10 01:19] #156 closed

[2016-05-10 01:36] cboettig commented on #156
Nice catch, thanks

On Mon, May 9, 2016, 6:19 PM Matt Jones <notifications@github.com> wrote:

--

http://carlboettiger.info

[2016-06-15 23:52] cgries opened #158 "Feedback improving set_section method and documentation"
I think, in the set_section function the file.copy method needs an overwrite = TRUE, it currently doesn't replace an existing file in the temp directory with an updated copy.
Some documentation that the Word file needs to have a title and at least one paragraph of text would be very helpful. Having just a paragraph of text in that file lets the line

sections <- XML::xpathApply(docbook, "/article/

[2016-06-16 15:27] maelle opened #159 "Encoding issue"
The minimal working example I have come up with is replacing `as.person("Aaron Ellison <fakeaddress@email.com>")` in the creating-EML.Rmd vignette with `as.person("Maëlle Ellison <fakeaddress@email.com>")`. Then when after running all chunks I get the following error message from `eml_validate`.

[code]

I could knit the vignette when the example person was called Aaron.

The error also happens if

[2016-06-16 16:23] cgries commented on #145
After working through the vignette with my own data file I would recommend that you include a couple numeric columns in your example. That would shed some light on how to deal with unit and numberType. I realize that you have the vignette on units, but that doesn't really explain how to get the information into the EML file.

[2016-06-16 16:39] cgries commented on #151
I really like the data frame for documenting attributes I would even include the column classes in that attribute description data.frame?

I can see shipping the package with a formatted csv file for this data frame containing all the column headings needed to properly document attributes so that people can fill it out in Excel. Or even better have a function that creates it  pre-populated with th

[2016-06-16 16:47] cgries commented on #158
On second thought, the docbook issue described above is not a documentation issue but a programming. It is legitimate in EML to enter only a single paragraph of text with the <para> element only, without a title and <section>.

[2016-06-16 17:06] cboettig commented on #158
Thanks for catching this, and I agree that this is something we should be handling internally in the code.  I'll take a look and see how we can work around that.

In general `set_section` is a little more fragile than I would like, mostly because we are leveraging pandoc to convert directly to docbook, while EML doesn't support the full implementation of docbook. So users doing anything a bit fanc

[2016-06-16 17:08] cboettig commented on #159
@masalmon Thanks for the example, I'll look into it.  I am pretty sure that the EML spec itself supports this (it does have explicit internationalization support for different languages etc), but my knowledge of how R handles encoding issues is a bit limited.  @mbjones probably knows more about both.

[2016-06-16 17:10] cboettig commented on #151
Great idea!  Yes, I think an Excel template is probably the perfect way to indicate what those columns should be.

[2016-06-16 20:57] cgries commented on #151
In the final EML the attributes are being sorted alphabetically by attributeName. While in theory that shouldn't matter, I think it would be better if they stayed in the sequence in which they appear in the data table and in the data frame.

[2016-06-16 21:07] cgries commented on #151
Sorry, I should have been a little more clear here. When I get the attributeList back from set_attributes, the attributes are sorted alphabetically by attributeName.

[2016-06-17 06:03] cboettig commented on #158
@cgries okay, just pushed a fix for this in 4792d3e, but it does change the API slightly.  Now instead of calling `set_section()` on a document, you call set_TextType, which is more generic.  EML TextType elements (like abstract, description, methods, etc) can have either `para` or `section` child elements -- it seems pandoc creates the latter in docbook when a title element is present, but the fo

[2016-06-17 15:59] cgries commented on #158
@cboettig  works great, thanks for fixing that.

The code in `set_TextType` still doesn't overwrite the temp file when I update the original file containing any of this information (e.g., IntellectualRights, abstract, methods).

[2016-06-17 16:11] cboettig commented on #158
Oh right, forgot about that part, thanks for the reminder

On Fri, Jun 17, 2016, 8:59 AM Corinna <notifications@github.com> wrote:

--

http://carlboettiger.info

[2016-06-17 22:49] cboettig commented on #158
Okay, added `overwrite = TRUE` as well.  Let me know if there are other issues here or feel free to close this.

[2016-06-17 22:52] cboettig commented on #145
I've added a basic example using a numberType unit (length in meters) to the vignette.  Let me know if that helps, or if more is needed.

[2016-06-17 23:04] cboettig commented on #153
This thread identified the need for specific high-level `get` and `set` methods

- [ ] Overall package bibliographic identification (packageId, title, creators, abstract, ...)

- [ ] Project metadata (id, title, PIs, funding info). _not quite sure what this refers to / how it differs from the above_

- [ ] Coverage `set_coverage` but no `get_coverage` with pretty-printing
  - [ ] Geographic `set`

[2016-06-17 23:12] cboettig commented on #137
Not sure how common / easy it will be for users who are creating text in Word to end up generating docbook that is outside of EML.  Ultimately some way to detect or at least document this would be nice, but can perhaps wait and see.  Other than possibly making the validator unhappy such cases will at least not throw any errors on the R end.

[2016-06-17 23:12] #137 closed

[2016-06-17 23:14] cboettig commented on #103
Note this mostly just involves documenting a different `physical` type, since the `attributeList` metadata is the same a csv-based `dataTable`

[2016-06-18 17:23] mbjones commented on #100
@cboettig Yes, we have XSLT style sheets to forward migrate EML versions that we use in Morpho. There are some breaking changes between 2.0.1 and 2.1.0 that require user input to forward migrate, for which we have a wizard in Morpho.  See https://code.ecoinformatics.org/code/eml/trunk/style/

[2016-06-18 17:31] mbjones commented on #151
Uh, sorting is probably a bug. EML requires attribute definitions be in the same order as the columns in the file.

[2016-06-18 21:35] cboettig commented on #151
Good catch, `get_attributes` will now return the a data.frame where the rows are always in the order of the attributes appear in `attributeList`.  I believe `set_attributes` has always written the attributes in the order given.

[2016-06-19 21:40] cboettig commented on #100
@mbjones Not sure if this is something that is definitely in scope for a first release or could be left to the user meanwhile to transform into 2.1.0 first.  The trouble is that unfortunately we still don't have very robust support for XSLT transformations from within R; there's just the Omegahat Sxslt package which hasn't been super stable to install.

Once we had such a utility we could apply th

[2016-06-19 21:49] cboettig commented on #147
PR #154 gives us a bit prettier validation results.  Class definitions and `get` / `set` functions are designed to promote valid EML, though it may always be possible to create invalid EML if you really want to do so.  Meanwhile think we can close this and open actionable issues for specific examples where R functions most risk generating invalid EML.

[2016-06-19 21:49] #147 closed

[2016-06-19 22:35] cboettig commented on #149
Above commit provides a candidate (not exported) implementation for this, which can render a TextType node as HTML, Word, markdown, etc using `rmarkdown` & pandoc, as a reverse of the implementation of the `set_TextType()` function.

By default uses HTML and calls the R browse function, which serves as a more convenient way to read a TextType() node in an EML document from within R, e.g.

[code]

[2016-06-19 22:59] cboettig commented on #151
Just added a template.  Still a user would probably require documentation to know what fields apply to what `measurementScales`.  Not sure how to address that, but maybe by including an example?  Do we need a template for the factors definitions table as well?

One thing about creating an Excel template for the `set_attributes` table: because most columns only apply to one data type (numeric data,

[2016-06-19 22:59] #149 closed

[2016-06-19 23:00] cboettig commented on #149
fn tested, documented & exported now, feedback welcome.

[2016-06-19 23:00] cboettig commented on #158
Think this is all done, otherwise feel free to reopen.

[2016-06-19 23:00] #158 closed

[2016-06-20 08:49] masalmon commented on #151
FWIW, I am using such a template for creating my first eml. I have a relational database, so I added a column "table" at the beginning, and when I read the file in R I filter relevant information for each table. It looks this way

[code]

But now that I think of it, I totally could loop over all different tables. Maybe next time, this time I wanted to take my time. :smile:

I don't mind having man

[2016-06-20 08:57] masalmon commented on #149
Are there already functions for doing the contrary, i.e. from the eml to a sort of human-readable docbook?

[2016-06-20 11:26] masalmon opened #161 "eml_validate: message or data.frame?"
I'm currently using messages from `eml_validate` to correct my eml creating code.

I wonder whether it'd be easier to have `eml_validate` output as a list:

* one element would be the logical currently returned by the function

* the other one would be a data.frame with 3 columns (error$line, error$col, error$msg) that the user could e.g. save in an Excel file and use as a reference.

I have quite

[2016-06-20 13:03] masalmon commented on #145
An example of how to add custom units to the eml might be nice to have too. The help of `set_unitList` does not show how to add it to the eml (in which slot + how).

[2016-06-20 14:13] masalmon opened #162 "Why does set_unitList with as_metadata = TRUE return metadata and not additionalMetadata?"
This is what I currently do for creating an eml with custom unists:

[code]

Are there cases when `units` would be useful as "metadata"? Otherwise, should set_unitLists directly output an "additionaMetadata" object?

[2016-06-20 14:41] cboettig commented on #161
@masalmon Thanks for suggestion, I know debugging with `eml_validate` can be pretty annoying. iirc, it's made worse because `eml_validate` only stops on the first error it finds(?).

 I'm not sure if line and col references would help most people though -- that would refer to positions in the XML text, and then you still have to figure out what R object is invalid and re-create it.  As you probabl

[2016-06-20 15:05] cgries commented on #161
@cboettig  One error message I got was for not entering minimum and maximum values. Those are not required elements, yet you are putting them into the EML. (- I know, it's good practice ...) It probably would be better to check if there are values available and if not don't add those elements.

[2016-06-20 18:00] cboettig commented on #161
@cgries yeah, that sounds like a bug -- can you paste in a minimal code example so I can reproduce that?  (For instance -- in the creating EML vignette, I added an example with a numeric field that doesn't declare max and min, and I do not see such an error).

[2016-06-20 18:23] cgries commented on #161
@cboettig this is what I get when I don't provide min and max for a numeric column:

`> eml_validate(eml)
208.0: Element 'minimum': '' is not a valid value of the atomic type 'xs:float'.

209.0: Element 'maximum': '' is not a valid value of the atomic type 'xs:float'.`

I interpret this that the code puts character null in, which is not a float - I assume.

It all works if I provide the columns mi

[2016-06-20 19:30] cboettig commented on #161
@cgries thanks! looks like I had a bug that wasn't allowing you to have some numeric data with bounds and other without bounds.  (Your error comes from the XML creating a a blank node from `minimum` instead of omitting that element when no value was available)

Should be fixed now.

[2016-06-20 20:38] cboettig commented on #162
Good question, returning an `additionalMetadata` object directly might make more sense to save the extra typing.  In that case, perhaps we should also rename the argument from `as_metadata` to something else (maybe `as_additionalMetadata`)?

In general I'm still figuring out the right balance of when helper functions should skip over levels.  There probably all cases where one would want to constr

[2016-06-20 20:39] cgries commented on #161
great thanks!

[2016-06-20 20:55] cboettig commented on #151
@masalmon Thanks.  By the way, the `physical` element is designed to indicate how the data is actually stored.  By default I have it create documentation for a 'standard' csv file, & `?set_physical` shows some of the options for non-standard csv/tsv/text formats.  However, relational databases have their own corner of `physical`, which you can create manually with a lot of `new` commands but which

[2016-06-20 21:23] #162 closed

[2016-06-21 01:25] cboettig commented on #145
@masalmon good point, thanks.  I added a bit about how to add this to the eml in the help file now.  Also working on a vignette about units and custom units that should provide more information.

[2016-06-21 01:34] cboettig commented on #149
EML TextType elements like abstract and methods are based on a subset of docbook, so rendering then is natural.  One could display the rest of the EML as, say, pretty HTML, but exactly how is a little subjective.  Take a look at how KNB displays the EML metadata for any dataset in its repository, for instance, for a very beautiful example.

We aim to make it easy to publish EML (publicly or privat

[2016-06-21 05:15] mbjones commented on #151
@cboettig Relational databases are a bit odd in that most RDBMS do not have an inherent ordering of attributes -- their physical format is generally both proprietary and opaque (and often internally represents the same data in multiple redundant ways, such as in both data structures and indices).  I have not seen EML records describing native relational databases in their binary physical format, w

[2016-06-21 05:28] mbjones commented on #149
@masalmon For multiple of our applications, we use XSLT to convert EML to an HTML rendering, and then use CSS to format that.  The [XSLT converter scripts](https://code.ecoinformatics.org/code/eml/trunk/style/eml/) ship with the EML distribution.  For the [KNB](https://knb.ecoinformatics.org), [DataONE](https:search.dataone.org), [Arctic Data Center](https://arcticdata.io/catalog), and other repos

[2016-06-21 07:58] masalmon commented on #149
Thanks @cboettig & @mbjones! I'll use eml for data that won't be published (or maybe only later) so i'll look at the repositories for inspiration for making local files rendering the eml.

[2016-06-21 08:15] masalmon commented on #161
Some errors I got:

* I had not given a role to someone in `associatedParty`. Maybe this could be checked when creating the `associatedParty`? I don't even know which parts of it are compulsory (name, role, contact information?)

* I had not written a packageID. Should there be an error when using `new("eml", blabla)` without packageID and system?

* When I create tables where there are custom uni

[2016-06-21 08:18] maelle opened #163 "Validate against data files / MetaDIG integration"
I may have missed this: is there a way to validate the eml against the dataset, in particular to check whether all columns of each table have been documented as attributes?

[2016-06-21 08:20] masalmon commented on #161
BTW, should minimum/maximum be:

* the range of values in the data

* the range of possible values with the device used?

[2016-06-21 08:30] mbjones commented on #163
We're working on a metadata and data quality engine right now under our
MetaDIG project. That will definitely be one of its checks. More on that
soon!

Matt

On Tuesday, June 21, 2016, Maëlle Salmon <notifications@github.com> wrote:

[2016-06-21 08:32] mbjones commented on #161
Min and max represent the domain of possible values (not the range).

Matt

On Tuesday, June 21, 2016, Maëlle Salmon <notifications@github.com> wrote:

[2016-06-21 08:32] masalmon commented on #163
Will this be only for exported files or for local files as well?

[2016-06-21 15:09] masalmon opened #164 "link to the EML specification?"
The vignette could include ta link to the EML specification https://knb.ecoinformatics.org/#external//emlparser/docs/eml-2.1.1/index.html and maybe other easier introductions to EML.

[2016-06-21 17:13] #164 closed

[2016-06-21 18:38] cboettig commented on #103
From @mbjones

[2016-06-21 18:43] cboettig commented on #103
@mbjones Thanks for the explanation.  Based on this, would love to get your input on the right level of abstraction for the `set_physical()` function, https://github.com/ropensci/EML/blob/master/R/set_physical.R.  Currently it provides shortcuts for creating most `textFormat` elements.  I suppose we could just add a few extra options to it for creating `externallyDefinedFormat` and we would have m

[2016-06-22 00:07] cgries opened #165 "error with set_unitList example in vignette"
@cboettig when I run your example for setting a custom unit I am getting this error:

Error in as(name, "xml_attribute") :
  no method or default for coercing “factor” to “xml_attribute”

`unitType <- data.frame(id = c("jerk", "jerk"), dimension = c("length", "time"), power = c(1, -3) )`
`unit <- data.frame(id = "meterPerSecondCubed", unitType = "jerk")`
`unitList <- set_unitList(unit, unitType)`

[2016-06-22 00:57] cboettig commented on #165
Can you reinstall the package  from github and then try again ?

[2016-06-22 08:40] masalmon commented on #145
Maybe you could add a sentence about the difference between `definition` and `attributeDefinition` in the vignette and the documentation of `set_attributes`, although one could deduce it from the example?

Moreover, in the xlsx template, why is `attributeDefinition` further right than definition, while being useful more often? I have to confess I first used `definition` instead of `attributeDefini

[2016-06-22 11:09] masalmon opened #166 "definition for textDomain attributes"
As far as I've understood it, when defining an attribute in the textDomain one has to give both an `attributeDefinition` and `definition`. I currently use the exact same definition in both of them.

I guess in some cases users will have different definitions but if in many cases they don't, I wonder whether the `set_attributes` function should use `attributeDefinition` as a definition if the `defi

[2016-06-22 11:40] masalmon commented on #161
I had forgotten a `numberType` in my Excel file, which made me think that maybe `set_attributes` could give a warning/ an error when one has a numericDomain attribute without numberType?

More generally, I'd be happy to help add the warnings.

[2016-06-22 12:28] masalmon commented on #151
@mbjones so the `physical` information is repeated for each `table`?

[2016-06-22 14:30] cboettig commented on #151
Yes, I believe that's correct -- if each table is in a different CSV file, say, then we need a physical node giving the name / location of each file.

[2016-06-22 14:32] masalmon commented on #151
@cboettig ok, thanks, then I'll add information about the database itself elsewhere (& anyway I build it using csv files)

[2016-06-22 14:35] cboettig commented on #161
Great idea. Yeah, I think warnings for missing required types would be better than S4 validation route in this case.  And PRs more than welcome!

[2016-06-22 14:41] masalmon commented on #161
Cool, I'll try to contribute in the next weeks (but not next week). Should this be a message, a warning, an error? I think warnings are better.

[2016-06-22 14:49] cboettig commented on #166
Yeah, I've been puzzled by that as well, @mbjones might have a better answer.

As you have seen, `attributeDefinition` is needed for any attribute, while `definition` only applies to `textDomain`, but I'm not sure how they differ. I have seen EML in the wild that just repeats the same thing -- kinda feels like `definition` is just there so that `textDomain` isn't empty.  The normative docs are usu

[2016-06-22 14:51] cboettig commented on #161
Right, I agree a warning is better for validation issues (doesn't break scripts as much, and it is possible to address validation issues by modifying s4 slots after the fact anyway rather than starting from square 1).

[2016-06-22 15:47] cgries commented on #166
That's certainly what I am doing - just repeating the `attributeDefinition` in the `definition`. So, I like the proposal too.

[2016-06-22 16:13] cgries commented on #165
I did now (guess missed that last night, sorry). Your example now works great.

But trying to do this in my code
`unitType <- data.frame(id = c("amountOfSubstanceAreaFlux", "amountOfSubstanceAreaFlux", "amountOfSubstanceAreaFlux"), dimension = c("amount", "area", "time"), power = c(0.000001, 1, 1) )`
`custom_units <- data.frame(id = c("micromolesPerSquareMeterPerSecond"), unitType = c("amountOfSub

[2016-06-22 16:50] cgries commented on #151
@cboettig the attributes in my EML file are still sorted by alphabet. I wonder if I am getting the latest updates. The readme file seems to have two different places to install from:
`install.packages("EML", repos = c("http://packages.ropensci.org", "https://cran.rstudio.com"))`
or
`devtools::install_github("cboettig/EML")`

The latter doesn't work for me, but it works if I use
`devtools::install_

[2016-06-22 17:14] cboettig commented on #165
@cgries

Your example works just fine for me:

[code]

Note that you were overwriting the return value of the last line, `set_unitList`, to the variable `custom_units`, so what was once the `data.frame` custom unit became the S4 unitList object of that name, so running the `set_unitList` command a second time does indeed give the error you report.

[2016-06-22 17:17] cboettig commented on #151
@cgries Argh, that's my mistake!  yes, your last line is correct,

[code]

will always install the latest version.  The previous option,

[code]

is just there because it doesn't require `devtools`.  It is almost as recent, but is based on nightly builds, so if I've just pushed a bug-fix earlier that day, than it won't do any good.

Sorry about that sorting behavior.  Definitely try with the lates

[2016-06-22 17:30] cboettig commented on #145
that's a good idea.  Though the behavior you suggest in #166 would also help address this, and might mean it makes more sense to leave the definition column out of the example (unless @mbjones talks us out of that).

Re the xlsx template, the column order is more-or-less arbitrary, which is, admittedly not very helpful.  Having attribute, then attributeDefinition, and then groups by measurement sc

[2016-06-22 18:02] cgries commented on #165
@cboettig thanks, now it works just like your example. Not sure why I reassigned the variable.

[2016-06-22 18:03] #165 closed

[2016-06-22 18:33] cgries commented on #151
@cboettig here is the code:

`attributes <- read.csv("sparkling2014Metadatawtemp.csv", header = TRUE, sep = ",", quote = "\"", as.is = TRUE)`

`# get the column classes into a vector as required by the set_attribute function`
`col_classes <- attributes[,"columnClasses"]`

`#take that column out  of the meta data frame again`
`attributes$columnClasses <- NULL`

`#add code definitions for the flag c

[2016-06-22 19:48] cboettig commented on #151
@cgries Thanks!  Should be fixed now.

[2016-06-22 20:18] cgries commented on #151
@cboettig yes!! thank you so much, it's working great!

[2016-06-23 11:46] masalmon commented on #161
Regarding the validation of an `eml` itself before its creation, I guess this is something that would need to be done in the create_package/ code which I don't understand well enough yet.

A less elegant solution would be to add pre-checks in `eml_validate`. Or do you plan to have a `set_eml` function that work like say `set_unitList`? Such a function could include checks before a call to `new`.

[2016-06-23 14:28] cgries commented on #161
@masalmon After figuring out how to define a custom unit in my code I got confused when I continued to get the warning message in `set_attribute` about that custom unit I was using in the data frame for defining attributes. Although in the end the EML validated just fine. It would be great if the code could check for that custom unit definition at the point of using `set_attribute` rather than at

[2016-06-23 14:34] masalmon commented on #161
@cgries I was more confused by the suggestion to use another unit, because I have not chosen the units of the measurements :smile:

More seriously, though, @cboettig, would it be a good idea to add an `unitLists` argument to `set_attributes` so that the units in `attributes` would be checked against standard units but also the custom units already defined?

[2016-06-23 16:45] cboettig commented on #161
@cgries @masalmon Thanks! Good point, sounds like `set_attribute()` should have an optional slot for `unitList` so that it does not warn if given custom units that have been properly defined.

Also definitely open to suggestions about how to word warning and error messages -- you both capture the user perspective better than I and can probably suggest more intelligent messages.

@masalmon re valid

[2016-06-23 17:16] cboettig commented on #161
@masalmon Ah, so if we want `new("element")` to warn instead of error whenever it is called but omits a required element, I think the most comprehensive way to do that would be to just add those checks to the `initialize` method for the class.

I create these programmatically from the schema files themselves, since there are so many classes.  The class and methods files are created using the scrip

[2016-06-23 21:37] cboettig commented on #161
Okay, perhaps this is better than modifying `initialize` in that at least it is more natural: you can make S4 validation not throw an error simply by making sure the validity function returns TRUE always:

[code]

Without the trailing TRUE `new("testclass", A = "stuff")` would throw an error, but with it, it only throws a warning.  And failing the type checking still throws an error: `new("testcla

[2016-06-24 05:44] masalmon commented on #161
But would it be possible to change the code that creates the commands so that it also takes into account which fields are required? However it might not be easy to also check the permitted values of each field, which would be important as well: is there a good list of class+fields + whether they are required + whether their values are limited?

[2016-06-24 06:17] masalmon opened #171 "Missing article link in the README"
The link to the scientific article about EML is empty ;-)

[2016-06-24 17:26] cboettig commented on #161
@masalmon In principle this is possible -- all of this information is contained in a machine-readable format in the XSD files which define the schema.  It's precisely those documents that allow the validator to know what is and isn't required, and what values are and are not acceptable, etc.

Unfortunately, doing this isn't trivial.  I'm not an expert in XSD, though it's reasonably logical.  For i

[2016-06-24 17:56] #171 closed

[2016-06-24 18:33] masalmon commented on #161
I'm not an expert in XSD either 😀 I hear you on starting from scratch! Unless we get help from a xml2 expert.

How would you select the ''most important' ones? Sounds like a good strategy especially if the other classes are used by people who know their way around EML anyway.

[2016-06-24 18:46] cboettig commented on #161
Well for a first pass, I'd say the 'most important' ones are the ones where it's been worth defining a `set_` method for (`coverage`, `physical`, `attributes`) and the big container classes like `dataset` & `dataTable` (and probably the other high-level structures `spatialRaster`/`spatialVector` etc, but I'm less familiar with them.

(even the `xml2` devs don't seem particularly interested in work

[2016-06-27 13:27] maelle opened #172 "set_coverage argument date"
I had written a wrong issue because the documentation states that the argument has to be a character, sorry.

However I wonder whether/how the format of `begin`, `end`, and `date` should be checked.

[2016-06-27 17:12] cboettig commented on #172
Well, it's still a good point that users might expect to be able to give a date object, so ultimately it is probably better if the coverage methods coerce to character internally rather than putting the burden on the user.

However, I went with asking for a character for the time being since I haven't had a chance to check that coercing any date to a character always does the right thing (i.e. if

[2016-06-27 17:23] masalmon commented on #172
I think I saw that EML date had to be ISO something if it is a real date. Your point about year only is interesting. So if the user inputs a date it should be coerced internally to a character with the right format. If it is a character it should be left as such, which is a pity in a way because any character would be accepted, but there is no way to check the date makes sense.

Having the date sp

[2016-07-04 09:04] maelle opened #174 "Literature coercions"
I see there is an article example of a literature file [here](https://github.com/ropensci/EML/blob/master/inst/xsd/test/eml-literature.xml)
- How to create example for the other types that are described in `literature_coercions.R`?
- For many fields/slots, should `from@blabla` be replaced with an `ifelse` statement for the case in which `blabla` is missing (for instance not all books are part of a

[2016-07-04 09:07] masalmon commented on #174
Moreover I got this error when trying to create a book citation: `Error in as(from@publisher, "person") :
  no method or default for coercing “publisher” to “person” `.

[2016-07-04 13:35] masalmon opened #175 "add Appveyor CI?"

[2016-07-07 23:05] cboettig commented on #174
Great questions, sorry I missed this thread earlier.  Will have to take a look and see how to fix that, I think the EML notion of `publisher` cannot necessarily be mapped to the R notion of `person`.

It's somewhat unfortunate that EML literature fields are based around Endnote metadata model, rather than bibtex (like R and most other systems).  Something of a historical spandrel. For missing fiel

[2016-07-25 20:50] mbjones commented on #172
Yes, EML dates are ISO 8601 dates, and validated as the union of xsd:date and xsd:gYear types.  So there is a very restricted set of allowed formats.

[2016-09-21 19:01] cboettig commented on #110
Done (pending feedback for further improvement anyway), see the working-with-units vignette

[2016-09-21 19:01] #110 closed

[2016-10-13 19:23] cboettig commented on #175
@sckott @jeroenooms I think I'm having issues writing platform-independent paths, caussing my Appveyor checks to fail: https://ci.appveyor.com/project/cboettig/eml  Any advice on what I'm doing wrong?

Here's the failing tests: https://github.com/ropensci/EML/blob/master/tests/testthat/test-TextType.R

Here's probably the responsible code: https://github.com/ropensci/EML/blob/master/R/set_TextType

[2016-10-13 20:26] sckott commented on #175
seems liker https://ci.appveyor.com/project/cboettig/eml/build/1.0.3#L524 suggests that authentication didn't happen correctly

[2016-10-13 20:49] cboettig commented on #175
@sckott I think that's a different issue; anyway, just fixed that line so it loads that test file from a local dir instead of downloading over https.  But those `TextType` tests still fail -- they use calls to pandoc via the `rmarkdown` package, and have to do some ugliness with working directories.

I think the pandoc call is failing (gives this warning):

[code]

which causes the test to fail.

[2016-10-13 20:54] jeroenooms commented on #175
Try wrapping the path in `normalizePath` to make it cross platform.

[2016-10-13 21:41] cboettig commented on #175
Thanks, I'll try that.  I'm confused why `normalizePath` asks me to manually set `winslash` though, and defaults to a back slash, `\\`, while `file.path` uses `fsep = .Platform$file.sep` to determine the separator, has a Note that says: "The components are by default separated by / (not \) on Windows."  (i.e. contradicting the `winslash` default in `normalizePath`).

On Appveyor, it seems `.Platfo

[2016-10-13 21:49] cboettig commented on #161
Closing.  `eml_validate` now returns messages on invalid lines, and returns the status code TRUE or FALSE for automated checks.  Good suggestions in this thread for using S4 validation at particular spots, which should be filed as a separate issue for the main `set_` methods.

[2016-10-13 21:49] #161 closed

[2016-10-13 21:50] cboettig opened #178 "More user-friendly validation checks at R object creation level"
See discussion in this thread: https://github.com/ropensci/EML/issues/161

[2016-10-13 22:02] #146 closed

[2016-10-13 22:11] cboettig opened #179 "get TextType tests to run without error on appveyor"
see #175 discussion

[2016-10-13 22:17] cboettig commented on #175
So, no luck with `normalizePath`; though the problem might be to do rather with pandoc running on windows and perhaps has nothing to do with the paths.

Anyway, closing this since Appveyor is now added, and skipping the pandoc-based tests on appveyor for now... Thanks for the suggestions all the same!

[2016-10-13 22:17] #175 closed

[2016-10-13 22:18] cboettig commented on #166
Recommended using the same values for textDomain/definition as in attributeDefinition in the vignette.

[2016-10-13 22:18] #166 closed

[2016-10-13 22:18] #145 closed

[2016-10-13 22:19] cboettig opened #180 "Update README"

[2016-10-13 22:20] sckott commented on #175
@cboettig  do you have a windows machine (virtual or otherwise) you can test in ?

[2016-10-13 22:48] jeroenooms commented on #175
You can try the r-hub builders which gives detailed error messages on many platforms: https://builder.r-hub.io/advanced

[2016-10-13 23:24] cboettig commented on #144
merging this into issue #150

[2016-10-14 23:38] #180 closed

[2016-10-14 23:41] cboettig opened #181 "Prepare CRAN release"
Hi @mbjones,

 I think I'm ready to release an initial version of EML to CRAN.  I've opened an onboarding request on ropensci to get some more eyes on it before I send it off, https://github.com/ropensci/onboarding/issues/80.  There's still plenty of higher-level functionality that could be improved, but I think the low level stuff is stable and since you're team is using it in production, it's ab

[2016-11-07 18:04] gothub opened #182 "Slow marshalling of 'deep' EML documents"
With a fairly simple EML document, the time that is required to marshall the object, i.e. retrieve from memory in preparation for writing to disk, etc. is fairly long. This is really an R issue, but with the complex objects required to represent an EML document, is there any way to improve performance?

Here is are two simple performance tests, the first of which shows a fairly simple document
bei

[2016-11-07 18:12] cboettig commented on #182
Yeah, definitely an issue. The next step would be to profile the code of course, e.g. using `Rprof()` and/or `lineprof` and see where the hold up is.  Might be in the S4 class generation; or might be in functions from the `XML` library.  Maybe tweaking the `EML:::XMLtoS4()` internal fn might help.  Now that `xml2` supports writing XML, I've thought about switching to that, though it might be a pai

[2016-11-07 18:34] gothub commented on #182
Calling `write_eml` vs outputting the EML object to the console doesn't add significant
amount of elapsed time, so checking `EML:::XMLtoS4()` appears to be the right
path.

[2016-11-07 20:39] amoeba commented on #182
I've experienced this as well with larger EML docs. I just profiled a sluggish doc that takes ~10s to return from a call to `read_eml`. I threw up a `profvis` graph here: http://rpubs.com/brycemecum/read_eml

`write_eml` on this doc (once loaded via `read_eml`) is much slower at ~90s:  http://rpubs.com/brycemecum/write_eml

I don't know the nuances of S4 classes or this package but I thought I'd s

[2016-11-07 21:23] cboettig commented on #182
Sorry I misread your comment the first time, I thought we were talking parsing speed (XML -> S4), not serializing (S4 -> XML) speed.  I think both are potentially problems.

Note that 'printing' an eml object to the console is actually the same as serializing the S4; the internal R representation in memory is all S4 structures.  So the function in question is really `EML::S4Toeml`.

Looks like the

[2016-11-10 22:38] cboettig opened #183 "Address issues raised in rOpenSci Onboarding review"
@mbjones , others watching this repo,

We've got the first of our very helpful reviews from the ropensci onboarding process: https://github.com/ropensci/onboarding/issues/80.  Many good suggestions there which I will try and open in individual issues here when we get a chance.  Meanwhile just wanted to get feedback from anyone using EML currently about which issues raised in the review (as well as

[2016-11-11 00:21] amoeba commented on #183
All of the issues raised in that review seem valid and like they would improve the package.

However, the only one that I really felt strongly about was the Constructors comment. I seem to have enough success using `new` everywhere in my code, but I appreciate that the user experience would be greatly improved with constructor functions. The use of `new` instead of constructors has been a point of

[2016-11-11 02:12] mbjones commented on #183
I'm with @amoeba on his comments on release with constructors.  There are a lot of good suggestions in the review though, and some of them might not delay a cran release. For example, we could patch up the eml_get return types, fix some of the autogenerated code issues, and fix the class type checking to be more robust.  Other items will require more dicussion.  For example, I don't agree with the

[2016-11-11 10:33] masalmon commented on #183
Really great that the package is getting reviewed!

FWIW I thought it was actually handy to create a csv for the attributes. I have a set of tables so my csv also has a column "table".

I have two other points I've been thinking about recently, sorry if this is the wrong thread to mention them:

* Something I've been thinking of was the visualization of eml. If I remember correctly, when using the

[2016-11-11 11:54] masalmon commented on #153
(I hope I'm not missing this having been already discussed/already exists -- I'm slowly re-reading issues :grin:) I have a question regarding `get_attributes`. In a eml with several `dataTable`, if I use `eml_get(eml, "attributeList")` I get a list with no names. I wonder if it should use the names from `entityName`. Maybe an easier-to-use version would:

* `get_attributes(eml)` returns the list o

[2016-11-11 13:08] maelle opened #184 "Translating factors using eml"
Here is the code I've mentioned in https://github.com/ropensci/EML/issues/183

https://github.com/masalmon/eml.tools

The only function currently only works for a single table only. As I said I'm not sure whether this will be useful for other people. :-)

[2016-11-11 21:04] mbjones commented on #183
@masalmon What do you mean by 'visualize'? The function lets you display the EML in XML format, and the review suggested that we should use something more R-like to show it hierarchically -- and keep our separate function for listing the XML version.  On the KNB and DataONE web sites, we translate the EML to an HTML version that presents it in a more readable format.  Is that what you mean?  Are y

[2016-11-11 21:20] amoeba commented on #183
I was thinking @masalmon was thinking of something like [listviewer](https://github.com/timelyportfolio/listviewer):

![viewer](https://cloud.githubusercontent.com/assets/563/20230527/faf734b8-a808-11e6-92bc-5e976dd7fc7e.gif)

It could be done as an RStudio Addin but also an optional part of the EML package via a function like `eml_view()`, and when called it'd show up in the RStudio Viewer pane a

[2016-11-11 22:53] cboettig commented on #182
While we should still probably find a faster alternative for `isEmpty`, but sounds like the issue about printing to console will be better resolved by printing some summary object rather than converting the whole shebang to XML and displaying the raw XML (see review comments, #183).  One challenge for this is what to do about subtypes, e.g. a `taxonomicCoverage` class etc.  Writing completely cust

[2016-11-12 18:04] masalmon commented on #183
Yep @amoeba is right 😊

[2016-11-13 15:46] gothub commented on #182
@cboettig The design goal of printing summary info to the console is an important one, but just to be clear, the use case that prompted this issue was use of `write_eml`, which has to perform the
full marshalling of R objects to XML before writing out via `saveXML`. I was using printing out
a representation of the object to the console as an easily viewable recreation of the issue, independent of

[2016-12-17 01:15] mbjones opened #185 "eml_validate fails with an eml-2.1.0 version document"
Validation fails to find the eml-2.1.0 schema when given a 2.1.0 document to validate.  Provide the ability to validate against all released versions of EML:

- [x] EML 2.1.1
- [x] EML 2.1.0

[2016-12-17 02:08] mbjones commented on #185
Validation against 2.1.1 and 2.1.0 is now working.

Validation against older versions fails, because those schemas are not deterministic -- this was a well-known bug in EML that was fixed with the EML 2.1.0 release.  Basically, the schema definition of the `additionalMetadata` field is not deterministic, preventing the schema from loading in modern schema validating parsers (historical parsers ign

[2016-12-17 05:05] mbjones commented on #185
Decided that validating EML 2.0.0 and 2.0.1 was not possible because the schema is not deterministic.  But now both EML 2.1.0 and 2.1.1 can be validated properly, and a test framework is in place to add additional versions as they are released.  Finished changes.  @cboettig please review.

[2016-12-17 05:05] #185 closed

[2016-12-19 03:54] cboettig commented on #185
Very nice, thanks!

[2016-12-19 23:23] cboettig commented on #100
@mbjones does the last commit effectively close this?  Technically the S4 classes are still developed only against the current schema, so some things in older schema formats could fail to parse correctly, right? (Eg i think nonstandard units & additionalMetadata elements look diferent?). Not sure if this is really something we should address or just document though.

There's no stable xslt R packa

[2016-12-20 08:35] jeroenooms commented on #100
We decided to implement xslt in a seperate [xslt](https://github.com/jeroenooms/xslt) package. It is ready to use but we have to wait with submitting to CRAN until the new version of `xlm2` is on CRAN. But you can start using it already, it should be on CRAN soon.

[code]

[2016-12-20 17:45] cboettig commented on #181
v1.0.1 on CRAN now. http://cran.r-project.org/web/packages/EML

[2016-12-20 17:45] #181 closed

[2016-12-20 18:34] cboettig opened #186 "Create pkgdown site to host vignettes, etc"
Compiled vignettes (and documentation) cannot be browsed on GitHub since these contain only the .Rmd source files.  `pkgdown` can create a GH-Pages website to display these.

[2016-12-20 18:34] cboettig commented on #186
Website now available at: https://ropensci.github.io/EML/

Vignettes are referred to as "Articles" in the top-level nav.

[2016-12-20 18:34] #186 closed

[2016-12-20 18:35] cboettig opened #187 "add codemeta.json metadata to the repo"
Pending completion of the codemeta.json R tool

[2016-12-20 18:50] cboettig commented on #100
@jeroenooms awesome, thanks.  (yup, a second package makes more sense; no one wants to be surprised that suddenly libxslt-dev is an additional external dependency for `xml2` when it wasn't before)

[2016-12-20 18:55] cboettig opened #188 "Zenodo archive of CRAN release, update badges reflecting CRAN release"

[2016-12-20 18:55] cboettig commented on #188
CRAN badge, downloads added.  Release tagged, zenodo doi added.

[2016-12-20 18:55] #188 closed

[2016-12-20 19:41] masalmon commented on #181
Well done!

[2016-12-20 19:58] jeroenooms commented on #100
Let me know if this package words for you. I have only tested it with some hello world examples because I don't really use xsl myself.

[2016-12-20 20:27] gothub commented on #181
Nicely done!

On Tue, Dec 20, 2016 at 11:41 AM, Maëlle Salmon <notifications@github.com>
wrote:

--
Peter Slaughter,  Software Engineer
National Center for Ecological Analysis and Synthesis
735 State St, Santa Barbara,  CA 93101
voice: 805 892 2533

[2016-12-20 23:51] mbjones commented on #181
Awesome, Carl.  Glad it went smoothly!

[2017-01-17 15:53] maelle opened #189 "viewing EML interactively (e.g. via htmlwidget / listviewer)"
I don't know whether it's worth mentioning in the doc somewhere but using `jsonedit` from the [`listviewer` package](https://github.com/timelyportfolio/listviewer) for looking at the xml is quite handy IMO (after transforming the eml to a list)

[2017-01-17 15:56] masalmon commented on #189
Adding a screenshot:

![listviewer](https://cloud.githubusercontent.com/assets/8360597/22027973/d9897906-dcd5-11e6-9fa7-137fde3cebe6.png)

[2017-01-17 16:10] masalmon commented on #149
I see I had asked about rendering before, so even without rendering this https://github.com/ropensci/EML/issues/189 can help seeing the eml one has created.

[2017-01-17 16:25] masalmon commented on #189
Note that it's not perfect but much better than looking at the xml :-)

[2017-01-17 17:51] gothub commented on #182
@cboettig Any more thoughts on this issue? I'm seeing about a 20 second wait for calls to
`write_eml()` for a simple EML document, longer for larger documents.

[2017-01-17 18:10] cboettig commented on #182
I think the most direct fix would be just to rework the logic for `isEmpty`, it does a lot of probably unnecessarily long recursions to decide if a complex S4 object has any fields.  I'd definitely be happy for a pull request to change that up, I just haven't had a chance to hack at it.

e.g. currently if you have a complex class like:

[code]

it has to descend all the way down the tree to `c1` a

[2017-01-17 20:32] cboettig commented on #189
Nice.  We should probably add an example of this in the "Reading EML" vignette

[2017-01-17 20:42] amoeba commented on #189
I think this is really useful. Is this useful enough to write something like an `eml_view` function that renders this? `listviewer` could be brought in as a `Suggests` and the function could fail gracefully if `listviewer` isn't installed.

[2017-01-17 20:49] cboettig commented on #189
Yeah, I was pondering that too; like you hint at `listviewer` would bring in quite a lot of dependencies.  I've used the `Suggests` trick before (`ggplot2` and other Hadley packages do this too) though I think it's a bit of a hack of the `Suggests` usage; iirc one has to be a bit fancy about how to do this since CRAN will reject having a function in `R/` that calls a function from a package not in

[2017-01-17 23:52] amoeba opened #190 "Unhandled edge case in `eml_get`"
A student came across this today and I think it's a bug. When I run:

[code]

It looks like the line of offending code is https://github.com/ropensci/EML/blob/master/R/eml_get.R#L47 which results in an error when there is no element found, as in the case with an empty `eml` object. Doing a bit of debugging, the `out` variable ends up as an empty `list()` in this case:

[code]

I'm happy to write u

[2017-01-17 23:58] cboettig commented on #190
I believe that the correct return behavior for `eml_get(doc, "object")` should be a list containing the whose elements are the same as what is returned by `doc@path@to@object` for all possible paths to that object (whether or not `object` slot is empty).  I think the empty list is thus the right expected behavior if there are no matches (e.g. some elements, like `creator`, can appear in so many di

[2017-01-17 23:59] amoeba commented on #190
It does, empty list made sense to me too. Will PR.

[2017-01-18 00:42] #190 closed

[2017-01-18 10:20] masalmon commented on #189
Thanks both for your enthusiasm. Sooo turns out it's not always pretty with the EML of the package instead of mine. I had to use

[code]
instead of `addAttributes = TRUE` because when the EML is transformed to a list some elements are lists with named and not named elements which `listviewer::jsonedit` doesn't like. I'll make a PR in a minute though, so you can try it out. Because of this `addAttr

[2017-01-18 19:25] amoeba commented on #189
Ah, that's very tricky. Good catch and nice work!

Out of curiosity, have you tried out the XML-to-list feature in the `xml2` package?

[code]

It seems to produce different output than the similar feature in the `XML` package which results in a different result in the `listviewer::jsonedit` Viewer pane. I see pros and cons to each approach. Screenshots included:

**Using XML::xmlToList**

![image

[2017-01-18 20:41] cboettig commented on #189
@amoeba Interesting.  I've been thinking about migrating the whole package to `xml2` now that we have write support there; not sure how hard it would be; might improve the performance.  Meanwhile just pulling in `xml2` as a Suggest for `listviewer` could be viable.

[2017-01-18 20:44] amoeba commented on #189
Ah yes, I wasn't thinking about package deps. I think the solution @masalmon wrote up is not necessarily better or worse than a solution using so maybe it makes sense to use the `XML`-based version now and switch to an `xml2`-based solution later, after the `XML` dep has been removed.

[2017-01-18 21:49] masalmon commented on #189
Oh interesting to see the difference! Let's use XML for now, ok for switching later but maybe we'll also have a fancy specific function for an even nicer view of EML by then 😉

[2017-01-19 11:37] masalmon opened #193 "naming functions"
I've just noticed there's `eml_get`, `eml_view` but `read_eml`, should some functions be renamed? I'd vote for `eml_something` because of tab auto-completion in RStudio.

[2017-01-19 15:56] cboettig commented on #193
`read_eml` and `write_eml` are backwards on purpose,  to parallel base R & tidyverse read/write fns.  All other fns should start with `eml`.  Hadley does the same thing in xml2 names: https://github.com/hadley/xml2/blob/master/NAMESPACE

[2017-01-19 15:57] masalmon commented on #193
Ok that makes sense thanks for the explanation!

[2017-01-19 15:57] #193 closed

[2017-02-06 22:22] amoeba opened #194 "Extracting character vectors from leaf nodes"
I just finished answering a question from someone on our team and found that my solution didn't seem all that great, though it worked. They wanted to get the abstract out of an EML document as a character vector. Their doc was something like this...

[code]

And I told them they could run this:

[code]

I am wondering if there is an easier way. The first argument (the S4 path) isn't so much the pr

[2017-02-07 00:13] cboettig commented on #194
Right, in general an abstract is a `textType`, so it can be an arbitrary combination of `para` or `section` elements with docbook-like markup, something that may not lend itself to rendering as a character string.

The intended workflow for this is that the user would use `get_textType` to render it to the desired type.  Here I use markdown as the best equivalent of a plain-text character string.

[2017-02-07 00:36] amoeba commented on #194
Ah, I hadn't tried that function yet. And your explanation of why this is so complex makes sense. Looking at the definition of the text type in EML makes this make even more sense! The `get_TextType` function might work but I guess the hope was to save steps.

The workflow we're doing is halving the length of the abstract within thousands of EML documents in batch. Our first problem is to define w

[2017-02-07 00:42] cboettig commented on #194
Good points. A few ideas:

`get_TextType` should probably be modified to have an option to return a character-vector object directly, rather than making the user write the file to markdown and read it back in.  Ideally the function should use some logic to first decide if the node is making use of the docType markup (that is, either `node@section` or `node@para` is not empty for any node for which

[2017-02-07 00:59] amoeba commented on #194
That all makes sense. Though I'm actually totally lost as to what I think is a good resolution to this Issue. I feel like the `get_TexType` function may get confusing if it handles both the R-like way (character vectors, list of char. vectors) and the docbook way but maybe it's not all that confusing. I guess my concern is that one approach (docbook) maintains the structure/semantics and the other

[2017-02-07 19:25] cboettig commented on #194
Right, thanks for the example; clearly not ideal since it's both verbose and fragile (abstract need not be in `abstract@para[[1]].@Data`, it could be in `abstract@.Data` or `@abstract@section@...` etc.

I think you want something like:

[code]

That could work with a simple wrapper around `get_TextType`.  In any event I think the user should never have to think about `docbook`, because most will h

[2017-02-07 19:46] amoeba commented on #194
To clarify, are you thinking that a call to `get_abstract` would always return a character vector of length one, regardless of the child elements contained in the `abstract` element and that the character vector would be essentially Markdown?

[2017-02-07 22:35] cboettig commented on #194
Yes. How does that sound?

[2017-02-07 22:53] amoeba commented on #194
I think I like it. I think that works for my specific use case too because truncating the abstract at an arbitrary length and converting that back into XML should work. Will it? I'm thinking of cases like this:

**Original**
[code]

**Truncated**
[code]

I'd be happy to take a crack at implementing this.

[2017-02-07 23:18] cboettig commented on #194
There's really no truncation going on.  e.g. EML file might look like:

[code]

This would be rendered as markdown, which can then be read in as a length 1 character vector (with newline encoding):

[code]

Note that because we're using pandoc, we have no trouble rendering the markdown version back into the original docbook XML, and vice versa (or any other format).

sound good?

Sure, you're welc

[2017-02-07 23:19] amoeba commented on #194
Great, will do.

[2017-02-09 18:54] amoeba opened #196 "Would writing a lot of helpers functions be useful?"
This has probably been talked about in other Issues or off GH but I know at least @mbjones and I have talked about the need for this and we agree it's a good idea to provide a bunch of helper functions.

I see the main reason for helpers being to:

1. Speed the user up
2. Get away from `new` and `slots` which are confusing and clumsy

Plus, with `new` they don't get autocomplete and help docs. May

[2017-02-09 19:48] cboettig commented on #196
Couldn't agree more about helper functions, I think the real question is how to do it.  I suspect we should really be doing this in the standard S4 methods way rather than writing functions like `set_object` and `get_object`.  In most S4-based packages, users never call `new("individualName", givenName = "bob")`, but instead would create it with an initialize method whose name matches the object.

[2017-02-09 20:29] amoeba commented on #196
Excellent and helpful response. Thanks. My thoughts:

- I like and even prefer the S4 initializer/setter/getter approach outline 👍
- There's too much in the EML spec to hand-write initializer/getter/setter methods so yes, a tool like S4 Coffee would be probably crucial to doing this
- Your goals with the `set_` and `_get` functions make sense

I'll close this (reopen if you prefer) and aim to writ

[2017-02-09 20:33] cboettig commented on #196
Let's leave this issue open until we find a better home to document some of these design principles? (I don't think they are written out in one place anywhere else)  Could go in a CONTRIBUTING.md or somewhere else?

We should also have issue(s)/milestone task for creating the S4 methods at least.

[2017-02-09 20:38] amoeba commented on #196
Great, thanks. CONTRIBUTING.md would work well for these details. I might also add a note in the helpers themselves to avoid complaints about the generality.

[2017-02-14 20:49] cboettig opened #197 "Implement object-oriented methods for low level interface"
we should really be doing this in the standard S4 methods way rather than writing functions like `set_object` and `get_object`.  In most S4-based packages, users never call `new("individualName", givenName = "bob")`, but instead would create it with an initialize method whose name matches the object.

[code]

Likewise instead of a `get_` method, one would access slots with an accessor method based

[2017-02-14 21:02] cboettig commented on #196
Great, closing in favor of #197.  Some general principles are now mentioned in CONTRIBUTING.md as well.

[2017-02-14 21:02] #196 closed

[2017-02-15 14:41] gmbecker commented on #197
FYI, I'm currently in the "documenting in preparation for submission for release" for an initial public release of S4Coffee, which will have the functionality you need to generate accessors for your classes automatically. I expect (but can't guarantee since that's how this works) that release will be a formality and in a couple week's time it will be in your hands and up on github.

[2017-02-15 19:08] cboettig commented on #197
@gmbecker Thanks! Do ping us whenever it's out; we're looking forward to it.

[2017-02-28 20:38] cboettig opened #198 "opt-in integration with `taxize` to generate species coverage over all taxonomic ranks"
Metadata-based search queries in platforms like MetaCat are most useful if all EML files include full taxonomic rank classification (kingdom, phylum etc), even though the full classification isn't required for taxonomic coverage.  This could be automatically computed from the species name (or other rank) given using queries from the R package `taxize`.

[2017-02-28 20:45] cboettig opened #199 "Streamline integration with `dataone` to search, download and parse EML files"

[2017-02-28 20:48] cboettig opened #200 "Improve handling of units & conversions for automating integration of data tables."

[2017-02-28 20:50] cboettig opened #201 "Improve console print/summary of EML elements"
Currently most elements just display as raw XML.  print and or summary methods should be introduced for most major element types (attribute lists, coverage, methods, etc) that provide a more tidy, possibly tabular representation or summary of this information.

[2017-03-02 01:41] mbjones commented on #182
@cboettig This performance problem is causing us problems still.  Bryce and I discussed solutions, and thought of two possibly half-baked ways of handling it:

## Option 1: boolean flags for empty elements
For each node in the tree, add a special boolean slot `isEmpty` which defaults to `true`. Whenever an assignment is made to a child of that element, set `isEmpty <- FALSE` in the constructor for

[2017-03-02 05:14] amoeba commented on #182
I'm a little partial to Option 1 because I like the slots being pre-populated and discoverable. Though I am weary of adding housekeeping logic in other places to manage a flag for emptiness.

As an aside, I wanted to see how many times `isEmpty` gets called when writing out a simple EML object so  I tweaked `isEmpty` to dump its single argument (`obj`) to disk when called. For this document:

[cod

[2017-03-02 17:07] gothub commented on #182
I vote for option 1 as well, as the`isEmpty` flag approach is more explicit, and it will be clear for someone looking at the code in the future what is being done.

[2017-03-02 18:30] cboettig commented on #182
My main concern with creating an `isEmpty` slot is that we'd start running into issues where the flag isn't correctly set; particularly under the current workflow where users are accessing slots directly since we don't have all the accessor / assignment S4 methods in place.  e.g. I think there's no way to automatically update the flag if a user starts with an empty `object` and does `object@slot <

[2017-03-02 21:44] cboettig commented on #182
It may be faster to simply serialize all nodes and then prune empty nodes from the XML, e.g. with a xpath expression such as ` "//*[not(*)][not(normalize-space())]"` ?

[2017-03-02 23:35] amoeba commented on #182
That sounds really promising. From the profiling, it looks like removing the calls to `isEmpty` alone would be a nice bump in performance.

[2017-03-03 06:33] cboettig commented on #182
Okay, working on a proof-of-principle on this.  I think I can migrate things over to `xml2` at the same time (now that xml2 has write support; I think this will also help on the performance side of things); will require a little debugging to strip out all references to `XML` classes and maybe a few special cases.

So far I've pushed a version to the `xml2` branch that implements xml2-based method

[2017-03-03 21:30] amoeba commented on #182
That's really great news @cboettig. The conversion to `xml2` is a big win too so thanks for doing that. Can any of us help at this point? I could make some time next week.

[2017-03-08 01:03] mbjones opened #202 "EML fails under R 3.3.3"
Report from Steven Earl:

[code]

@cboettig responded: 'looks like this is the second time they've changed the signature of the concatenate method, `c()` in base R.  Arg; we can update the signature we're defining, but I think this is gonna make things hard to retain backwards compatibility on'

[2017-03-13 21:18] cboettig opened #203 "indicate software used to create EML file"
@mbjones What would be the appropriate way to indicate that an EML file is generated from the EML R package (or is generated by Morpho, etc?)  Is that the `system` attribute by any chance?

Also, what would be the best string to refer to the EML R package? The URL to the CRAN page for the package? Or better to use the DOI for the current release of the package? (If system is the attribute, I under

[2017-03-13 23:54] mbjones commented on #203
Good question, @cboettig. After thinking about it a few minutes, I don't think there is an appropriate field dedicated to this.  The closest things I can think of are 1) associatedParty with a role of `MetadataProvider`, and 2) the `/eml/dataset/maintenance` subtree, in particular its `description` element.  Neither of those are particularly good fits.  Seems you are looking for a user agent type

[2017-03-14 00:08] mbjones commented on #203
For citing the package, best to cite the DOI:

`doi:10.5063/F1M61H5X`

But note that DOIs are not technically URIs, even though they follow the syntax, because they are not registered at IANA as a URI scheme.

Oh, and the user-agent string for the R `dataone` package incorporates a bunch of version info.  But note it is not exported into the namespace, but is used internally to set the User-Agent:

[2017-03-14 18:46] cboettig commented on #203
@mbjones Thanks!  NeXML provides the top-level attribute `generator` to encode this (e.g. https://github.com/ropensci/RNeXML/blob/master/inst/examples/biophylo.xml).  What would it look like as an additional optional field?  Otherwise the `additionalMetadata/userAgent` sounds good to me, (since it's more top-level than having it somewhere in `/eml/dataset`.

In other news, I'm still a bit unclear

[2017-03-14 21:06] mbjones commented on #203
The `system` attribute is intended to be a scoping namespace for the associated identifier field on that element (either `id` or `packageId`) -- declaring a system is meant to be a declaration that the identifier string is unique within the namespace defined in `system`.  The problem is that, in terms of implementation, there is no standard way to express namespaces in a controlled way, so people

[2017-03-14 21:27] amoeba commented on #203
Since identifiers such as UUIDs and DOIs are essentially (or are at least intended to be) globally unique, would providing a `system` attribute of 'global' be appropriate?

[2017-03-14 21:54] cboettig commented on #203
@mbjones Thanks, super helpful.  So if we default to a UUID for the `packageId`, then `system` should be `urn:uuid`?  Is that a valid and correct URI for this case?

[2017-03-14 22:41] mbjones commented on #203
@cboettig Unfortunately, "urn:uuid" is not a valid URI, because the UUID URN namespace as defined in [RFC 4122](https://www.ietf.org/rfc/rfc4122.txt) requires that "urn:uuid" be followed by the value of the UUID, such as "urn:uuid:cd0ec80f-d838-430d-9fcd-db4943c28684". I'm not sure there is a valid namespace URI for the concept of UUID URI space. Maybe the URI of the RFC 4122 specification (https:

[2017-03-15 03:17] cboettig commented on #189
Trying to migrate everything to xml2, I have listviewer tests failing on some of the tests with:

[code]

any ideas?

[2017-03-15 03:57] cboettig commented on #182
@gothub @amoeba Okay, I have what I think is a functional version (i.e. passes check) on the [`xml2` branch](https://github.com/ropensci/EML/tree/xml2) based on `xml2` which also avoids any `isEmpty` calls in writing out to file.

This version keeps empty nodes until `write_eml` is called, then recursively prunes empty nodes (seems there's no `xpath` for nodes which have children to an arbitrary d

[2017-03-15 07:21] amoeba commented on #189
Real bizarre. I took a bit of a walk in the woods and found this out. Here's a minimum reproducible example:

[code]

If you run that and use the RStudio interactive debugger you find out what's likely the proximate cause of the error:

<img width="640" alt="screen shot 2017-03-14 at 11 09 54 pm" src="https://cloud.githubusercontent.com/assets/563/23937284/864ef218-090b-11e7-88b2-04fe0ee4b904.png"

[2017-03-15 07:24] maelle commented on #189
Mmmh and we can't cover all unnamed cases

I meant to have a look at https://github.com/hrbrmstr/xmlview will do, maybe easier to use although less pretty I think

[2017-03-15 07:42] amoeba commented on #189
Well don't have to love the code we right if it works:

[code]

[2017-03-15 07:56] maelle commented on #189
True and nice fix :-)

I'm installing `xmlview` for being able to compare the output

[2017-03-15 08:15] maelle commented on #189
So `xmlview` can help you see the whole xml in different styles which is nice. But I couldn't get the collapsable version, `xml_view::xml_tree_view` to work which makes it less handy I think? Could one of you tell me if `xml_view::xml_tree_view` is collapsable for you? Because if it is _maybe_ that's a better option (no need to convert to list first for instance)

[2017-03-15 15:10] amoeba commented on #189
`xmlview::xml_tree_view(doc)` produced a collapsible version for me. I noticed I had to click on the `+` and `-` text and not on the element name as I expected to get collapsing working. That's easy enough to fix. I'm still a bit partial to the `listviewer` version but this certainly works.

[2017-03-15 15:14] maelle commented on #189
Oooh now I see how it works thanks @amoeba 🙈

If you prefer `listviewer` I'm happy with your fix.

[2017-03-15 15:17] amoeba commented on #189
Sounds good. I'll let this sit for a bit so others can comment as xmlview is a nice alternative. If others prefer to stay with listview I'll PR. In the PR I'll tweak the code so it's cleaner and faster.

[2017-03-15 16:41] gothub commented on #182
@cboettig Initial tests look really good. Simple documents with just a few entities no attributes that were taking about 20 seconds to write now take between .5 and 1 second. I'll continue to test with more complex, bigger documents.

I did notice that the `show()` method for `eml` objects renders the object unformatted:

[code]

[2017-03-15 18:26] cboettig commented on #182
Thanks @gothub , that's correct, by default I'm using the XML format (as rendered by `xml2` package) as the `show` method for the S4 objects, since the default S4 render looks even less readable.

Ideally I think we will want custom `show` (& maybe `summary`) methods for most common objects (e.g. `eml`, `dataset`, `dataTable`, `coverage` `attributeList`, maybe things like all the agent types, cita

[2017-03-15 20:16] amoeba commented on #182
Nice work @cboettig. Writing is certainly a lot faster and this will be a huge improvement for daily workflows at NCEAS. Though with the new approach, the unformatted XML output (as @gothub pointed out) _may_ make current workflows a little more difficult as checking the XML interactively might be a common scenario. Generics for `print`/`show` would be great. I'd prefer them to show indented XML l

[2017-03-15 20:58] amoeba commented on #182
Did some asking, got two answers:

1. Person one makes edits in R using the EML package, runs `eml_validate`, and then just uploads the document to a test site we use in order to check that it looks right on the website before publishing it to the production site.
2. Person two makes edits in R using the EML package and often dumps the entire doc or part of the document to the REPL and cares about

[2017-03-15 21:20] amoeba commented on #182
`show` is working great with that latest commit. I poked around a bunch and all is well.

[2017-03-15 21:20] gothub commented on #182
When authoring EML I'd really like to see the full, indented XML. This is most useful for selected
elements of the document, for example. just viewing a `dataset`, and I think is necessary for verifying that  constructed the document correctly. So I'm voting for the `show()` methods to output fully rendered, indented XML.

When viewing EML that I'm not familiar with, e.g. downloaded from somewhere

[2017-03-16 16:46] maelle commented on #120
I have a stupid unit question, I hope it's ok to ask it here. When defining an EML for several tables, there's only one custom unit list for the whole EML, not one by table, right?

[2017-03-16 16:52] amoeba commented on #120
Yep. Each table needs to reference the custom unit but the unit is defined
in the additionalMetadata section. There is at least one example in the
inst dir of this package.

[2017-03-16 16:53] maelle commented on #120
Thanks @amoeba !

[2017-03-16 17:00] amoeba commented on #120
Example here https://github.com/ropensci/EML/blob/master/inst/xsd/test/eml-datasetWithUnits.xml

While I'm on this Issue, we've got some WIP EML documentation on our enterprise GH install that I think would be useful for the package and appropriate for this thread. I'll make myself a note to take  a look.

@cboettig Are some of these bullet items things you're still interested in having?

[2017-03-16 17:11] maelle opened #204 "set_attributes only accepting a data.frame for factors"
I just noticed that in `set_attributes` the `factors` table has to be a `data.frame` currently, see my not so minimal example (sorry)

[code]

The first call to `set_attributes` works fine, the second one gives the error message

[code]

I can have a look at the corresponding code tomorrow. I got the issue when reading a `factors` table from a csv with `readr::read_csv`.

[2017-03-16 17:14] cboettig commented on #120
Definitely, thanks

[2017-03-16 17:17] cboettig commented on #204
Yeah, good catch, I've seen that as well.  I think we can avoid that with an as.data.frame coercion at the top of set_attributes(?)

I'm hoping to merge in the xml2 branch soon, so if you make any edits please base them on that branch for an easier merge.

[2017-03-17 10:11] maelle opened #206 "Best practice for count variables?"
Again I should maybe ask this question elsewhere, but let's say it could be part of the documentation. :smile_cat:

If dealing with counts, e.g. a variable whose definition is "Number of windows in the house", does one need to input an unit? The unit could be windowsPerHouse but does it make sense since the definition clearly indicates what was counted?

I've found [this EML](https://github.com/ro

[2017-03-17 10:35] maelle commented on #206
I also don't know whether there is an example with e.g. relative humidity, in an EML of mine I've written "dimensionless" as unit.

[2017-03-17 10:45] maelle commented on #178
what are the steps needed for this? I'm interested in helping since I'd like to check my EML files :smile:

[2017-03-17 10:55] maelle commented on #178
I also wonder if it'd be possible to document how to automatically create the min/max value for numeric variables. Not sure they're really useful. Moreover, this might be a suggestion closer to [this issue](https://github.com/ropensci/EML/issues/150)

[2017-03-17 14:25] maelle commented on #159
Re-opening this because of something I noticed today using the xml2 branch, see example below (not that minimal, it's the vignette example with "Maël" as a creator name, so skip the first part)

[code]

Now to the interesting part.

[code]

So with encoding you can't validate `eml` directly because the function tries to write it with the encoding option in a temp file which somehow doesn't work. F

[2017-03-17 14:28] cboettig commented on #159
Thanks, I'll take a look. Can you try and pass encoding as an option to
eml_validate?

On Fri, Mar 17, 2017, 7:25 AM Maëlle Salmon <notifications@github.com>
wrote:

--

http://carlboettiger.info

[2017-03-17 14:31] maelle commented on #159
Yes I tried that, it doesn't work if the first argument is a S4 object that was just created (it works for the S4 object read via `read_eml`, I have the impression I'm crazy :smile: :)

[2017-03-17 14:31] maelle commented on #159
In the interesting part of my issue @cboettig you can see everything I tried. :-)

[2017-03-17 14:36] maelle commented on #159
I've reformatted my issue with `reprex`, so now it's easier to see what worked and what didn't :angel:

[2017-03-17 16:11] maelle opened #207 "eml_validate with EML containing an unitList"
Is there a test of EML validation when the EML has an unitList? I couldn't find one.

I had an EML that used to get TRUE from `eml_validate`. I created it this way:

[code]

I've also tried to do something closer to the units vignette (but well it's really the same?)

[code]

cc @carlesmila

[2017-03-17 16:17] cboettig commented on #159
Thanks, sorry was reading from phone earlier, not the best for debugging.

Just tried running the example on linux and mac and I cannot replicate the error.  Can you give me your `sessionInfo()`?  Maybe something to do with how your locales are set up?

Here's mine (on a rocker/tidyverse container, so it should be reproducible):

[code]

[2017-03-17 16:25] maelle commented on #159
Oh so I'm not only the "name with accents" tester, I'm also the Windows tester :smile_cat:

I started by changing the locale via `Sys.setlocale("LC_ALL","English")` and after running the usual eml creation stuff I still get the errors:

[code]

<details><summary>Session info</summary>

[code]

</details>

[2017-03-17 16:30] maelle commented on #159
Related to this and [my other issue](https://github.com/ropensci/EML/issues/207), should there be tests using the vignette example, with+without accents and with+without a custom unit list? Currently the `eml_validate` tests are only for files already saved. Well maybe the issue I have right now is due to something I did wrong but if it isn't it might be good to have such tests?

[2017-03-17 16:55] cboettig commented on #159
Thanks, yeah I have to improve my windows testing.  we do have appveyor but I agree entirely that we need UTF-8-based tests.  @mbjones I don't see any UTF-8-only characters in the standard EML test suite? https://github.com/ropensci/EML/tree/master/inst/xsd/test?

@maelle we could add a quick minimal test file based on https://github.com/ropensci/EML/blob/master/inst/xsd/test/eml-party.xml with a

[2017-03-17 16:57] maelle commented on #159
@cboettig in `eml_validate` there is a test with special characters (I think I had added it) but it's not created in the file so I wouldn't get the issue

[2017-03-17 16:58] cboettig commented on #207
Good question, I'll have to dig into the error.  But yes, there's https://github.com/ropensci/EML/blob/master/inst/xsd/test/eml-datasetWithUnits.xml

all those test files that start with `eml-` are tested for basic roundtrip read/write/validate by https://github.com/ropensci/EML/blob/master/tests/testthat/test-testfiles.R, so that should at least give you a starting point.

I'd bet the problem her

[2017-03-17 17:01] maelle commented on #207
Ok I'll have a look next week (working day almost over here :wink: )

[2017-03-17 19:04] amoeba commented on #206
I think the unit you're looking for is `number`, defined in STMML and included in the standard units dictionary in EML as:

[code]

[2017-03-17 19:29] amoeba commented on #159
I can reproduce this on my Windows 10 machine with a minimal example:

[code]

I'm using the XML-based branch (instead of xml2) and I noted that the docs for `saveXML` indicate that `encoding` is ignored anyway.

[2017-03-17 19:57] amoeba commented on #159
And a similar error with the `xml2` branch:

[code]

[2017-03-18 02:57] mbjones commented on #159
@cboettig Lack of UTF-8 test cases in the EML suite is a definite problem.  Let's add some.  Now that EML itself is in in GitHub, PRs are welcome.  Maybe @amoeba has one on hand given his last comment here.

[2017-03-18 03:03] mbjones commented on #206
@maelle Counts and ratios of quantities continue to be problematic.  @amoeba is right that the `number` unit has been our traditional response, but I also wrote up a summary of other approaches and issues in a related ticket NCEAS/EML#265.

[2017-03-18 03:12] mbjones commented on #178
@maelle I don't think the `bounds` for numeric variables can be created automatically.  The `bounds` represent the minimum and maximum *allowable* value for a quantity, and do not represent the observed range in a data set.  So, for example, for a value expressed as a dimensionless percentage, the bounds are 0 to 100 inclusive.  If you tried to find that from the observed values in a data set, one

[2017-03-18 04:10] cboettig commented on #159
@amoeba thanks, clearly I need a windows machine to test.  So looks like you both confirm you can get a valid result only by calling `eml_write` using the (default) UTF-8 encoding and then calling `eml_validate` on the external file using `latin1` encoding?

Just curious if this might be an issue in `xml2`.  Can you try the following:

[code]

[2017-03-18 04:53] amoeba commented on #159
[code]

I don't think that's quite what I'm seeing:
[code]

[code]

I don't think I have a path right now to validate an EML doc w/ a non-ASCII char such as ë w/ `eml_validate`. I haven't done any looking into this beyond chiming in on this Issue but I can take a look. Let me know if I can run anything else for you.

[2017-03-18 06:26] maelle commented on #159
It is surely `xml2` (either an issue or how it's used now in `EML`) because it used to work for ë. 😊

[2017-03-18 06:28] maelle commented on #159
But writing with default option works as you see above or below

[code]

[2017-03-18 06:30] maelle commented on #206
Thanks both, I'll read all that 👌

[2017-03-18 19:13] amoeba commented on #159
Ah yes, @maelle's last works for me too.

[2017-03-20 11:07] maelle commented on #159
I've added a failing test as noted in https://github.com/ropensci/EML/pull/205

I'll now try repairing it with my non elegant method :grin:

[2017-03-20 12:06] maelle commented on #159
I have now made a quite dirty fix. If the OS is Windows then the `write_eml` command does not include the encoding argument, otherwise it does. Now the test I had added seems to pass on both Travis and Appveyor (after I installed pandoc on Appveyor). Not sure if this was all useful :grin:

[2017-03-20 12:25] maelle commented on #159
well actually it only passes on Appveyor :cry:

The dev version of `testthat` has new stuff reg. encoding https://github.com/hadley/testthat/blob/master/NEWS.md

[2017-03-20 13:53] maelle commented on #159
So now the tests pass on both platforms, but I had to add an encoding option to `testthat` (and to install `testthat` from Github). I'm getting lost with all these encoding options everywhere :grimacing:

[2017-03-20 14:02] maelle commented on #207
In the example file the unitList starts by:

[code]

In my file it starts by:
[code]

[2017-03-20 14:05] maelle commented on #207
I'll try to think of an easy example with unitList that'd be created from scratch in the tests, I guess it'd be useful (my own EML is huge).

[2017-03-20 14:19] maelle commented on #207
Note, because I also suspect the problem is the coercion, and because I am not able to understand how to fix this, I'll stop investigating for now. :angel:

[2017-03-20 14:34] maelle commented on #207
Test added (well I hope it'd be a valid one if not for the current bug... just replaced meters with terameters in the example EML from the creating EML vignette, and added a very small units data.frame with only id and unitType)

[2017-03-20 14:43] maelle commented on #206
Should the current traditional response reg. counts be mentioned in the documentation of this package, e.g. in the vignette about units, since it'll probably be a common question? And also something about ratios? Or is all more EML documentation than `EML` documentation?

If these things have no place in the package doc I guess I should this issue, thanks a lot for your insight in any case, it has

[2017-03-20 18:35] amoeba commented on #206
Attributes are one of the hardest parts of EML and I don't think, at least not for this case, the EML documentation is quite enough. Ideally, it would be! Given that, I'd put in a vote in for the vignette(s) about attributes/units cover these difficult cases so the user can stumble onto the right choice without too much digging. A short explanation of the issue followed by a "See the official EML

[2017-03-20 19:28] cboettig commented on #206
Agree, I think our package documentation may as well address this, and using fully worked examples in vignettes to do so would be great.  Ideally we can work this kind of thing into low-level documentation at some point (ideally the creation of the R package should be pulling out all the documentation strings from the XSD files when it generates the classes; but I haven't worked that up).

@amoeba

[2017-03-20 19:29] amoeba commented on #206
Deal.

[2017-03-20 19:46] maelle commented on #179
Now that I added the pandoc installation instructions in the appveyor yml file, does it work?

[2017-03-20 23:50] cboettig commented on #179
@maelle For a moment it looked like this was working with the new appveyor configuration, but now appveyor seems to be failing entirely, seems not to be able to load pandoc?  e.g. https://ci.appveyor.com/project/cboettig/eml/build/1.0.67#L208,

[code]

Any ideas?

[2017-03-21 03:39] cboettig commented on #179
okay, seem to have it passing now (dropped the caching of pandoc, which is also what @jennybc has currently in https://github.com/jennybc/reprex/blob/master/appveyor.yml ).  Closing :crossed_fingers:

[2017-03-21 03:39] #179 closed

[2017-03-21 04:02] maelle commented on #179
@cboettig this is awesome! So thankful for Jenny's sharing her experience in that issue

[2017-03-21 08:47] maelle commented on #207
@cboettig you've now removed the test with an unit list? If so why?

[2017-03-21 08:49] maelle commented on #207
Oops sorry I found it again @cboettig

[2017-03-21 09:00] maelle commented on #207
So you solved this in https://github.com/ropensci/EML/commit/be0faa72d4eefa3a489fefc0860aa8df22d28aea

and I can validate my own EML, thanks a lot!! Well I guess you knew you had fixed it when the test started passing. :grin:

[2017-03-21 09:00] #207 closed

[2017-03-21 09:01] maelle commented on #204
Now that you merged my PR I think this can be closed although there's no test for it (since it'd mean adding a dependency to `tibble` for instance).

[2017-03-21 09:01] #204 closed

[2017-03-21 10:32] maelle commented on #159
Re-writing the issue I get on Windows if trying to write an EML file with encoding.

[code]

<details><summary>Session info</summary>

[code]

</details>

[code]

[2017-03-21 11:01] maelle opened #208 "eml_validate as condition for write_eml in the vignette about writing EML?"
I'm now using

[code]
at work. Is it an useful example to add in the vignette about writing EML?

[2017-03-21 23:59] cboettig commented on #202
hmm, I can't reproduce this error on 3.3.3.  `creators` is undefined in the example above, but if I do:

[code]

I do not get an error.

I do see the `c` method definition/documentation has changed in R 3.3.3, but we're not getting any warning about the documentation, so not clear if we have a problem here or not.  Maybe I need to follow up with Steven directly...

[2017-03-22 00:17] amoeba commented on #202
I can reproduce it just fine on our copy of RStudio Server that's running 3.3.3:

[code]

I'll try in a container now. What environment are you on that you're not seeing this?

[2017-03-22 00:44] amoeba commented on #202
Okay, so no errors when running that in a container using `rocker/rstudio`. The only difference I see is the version of R that `devtools::session_info()` reports for the EML package.

In a Docker container running `rocker/rstudio`, I get no errors and here's the EML line from `devtools::session_info()`:
[code]

On our NCEAS RStudio instance, I *do* get errors and here's the EML line from `devtools

[2017-03-22 05:41] amoeba commented on #202
After seeing a [this](https://twitter.com/henrikbengtsson/status/844347599876325376) thread on Twitter which linked to [this](https://stat.ethz.ch/pipermail/bioc-devel/2017-March/010559.html) mailing list page I'm thinking I just need to learn how to re-install packages. Not sure why I'm having a hard time on this RStudio server instance.

I think this Issue can be closed.

[2017-03-23 10:42] maelle opened #210 "Check for factors in set_attributes"
I'll soon make a PR with checks of the factors data.frame in `set_attributes`:

* like the attributes data.frame it has required fields.

* here we experienced issues with some attributeNames that had duplicate codes so I'm adding a check for that. cc @carlesmila

[2017-03-23 10:46] maelle commented on #210
Note: it's very ugly code :-(

[2017-03-24 13:48] maelle commented on #184
I have made good progress in my [one-function package](https://github.com/maelle/eml.tools). It now works for a dataset with several tables (which is my use case). I might add function to the package depending on our needs at work / on other suggestions. I guess I should close the issue but would it be worth it to mention this package/function in the documentation of `EML` in case it can be useful

[2017-03-24 16:22] cboettig commented on #184
Very cool, looks like a great example, certainly worth updating the docs to point people to, thanks!

[2017-03-24 16:24] maelle commented on #184
Well thank _you_ for `EML`!

[2017-03-24 17:04] srearl commented on #202
Thank you @cboettig and @amoeba - reinstalling EML after upgrading to 3.3.3 fixed the problem.

[2017-03-24 17:20] cboettig commented on #202
Great!

[2017-03-24 17:20] #202 closed

[2017-03-24 17:21] cboettig commented on #210
Thanks!  I think this is closed by merging #211

[2017-03-24 17:21] #210 closed

[2017-04-05 00:02] amoeba opened #212 "Interesting change in behavior from XML to xml2 version of the package"
A user handed me a schema-invalid XML document they were having some trouble with while using the `xml2` version of the package. Their environment is R 3.3.2, EML 1.0.2.1.

Here's a minimal document:

[code]

Note the lack of enclosing `metadata` element around the `unitList`.

[code]

Is this odd behavior anything to worry about? I don't know what the behavior should be when reading schema-invali

[2017-04-05 16:59] cboettig commented on #212
Hmm, if the R package is generating EML that's invalid like that, that's something to worry about -- I do remember such a problem, but I thought I had fixed it.

In general I don't think it's a problem that we don't throw an error if a document is invalid, but it's suspicious that an error isn't unavoidable since that pattern shouldn't match the corresponding S4 class.

[2017-04-05 17:50] amoeba commented on #212
It appears you did. I updated the user to the current `master` and the issue went away.

[2017-04-05 17:53] cboettig commented on #212
:rocket:

[2017-04-05 17:53] #212 closed

[2017-04-05 18:01] cboettig commented on #208
Hey @maelle , I think you have to jog my memory now -- do you still need this extra validation wrapping to handle validating EML with non-ascii characters on Windows or did we fix this with the recent edits?

[2017-04-05 18:11] maelle commented on #208
What do you mean by extra wrapping? This example above was just an example for the documentation. Reg. the encoding argument I _think_ I use it everywhere now (I'm not in the office so can't check)

[2017-04-05 18:26] cboettig commented on #208
Ah, I think I was misreading the example earlier; but seems the user shouldn't have to write all that each time.  Based on your suggestion, it sounds like we ought to call `eml_validate` by default on any call to `eml_write`, and maybe issue a warning message if the file is not valid?  (I imagine we'd still want a way to opt out of this behavior, e.g. in cases where a user is writing lots of EML f

[2017-04-05 18:30] maelle commented on #208
* I don't think it should be default either, but in the documentation somewhere we might advise to validate before writing? Or will users expect that their EML is correct just because it could be saved? We should ask "naive" users if we find some.

* I'll check where I use the argument at work, I think I use it for both writing and validating so my example might be wrong although I thought I had c

[2017-04-06 07:51] maelle commented on #208
I checked, we really write EML without encoding arguments. Weird.

[2017-05-04 19:08] jeanetteclark opened #213 "Lack of error/warning with conflicting attribute slots are set"
In using the package, we have noticed a sometimes frustrating lack of error generation when conflicting attributes are accidentally set.

Example: An attribute table is generated using this code:

[code]

Note that the third attribute is measurementScale "nominal", domain "textDomain".

When set_attributes is run on this table, it returns the following for the third attribute:

[code]

Which of co

[2017-05-04 20:33] amoeba commented on #213
This type of checking is probably extremely useful to users. I *think* part of the problem here is that the `xml_validate` function from the `xml2` package doesn't print out the line/col of the error so it's hard to debug validation issues. It used to when this package used the `XML` facility for schema validation.

As a stop-gap for our users, I've implemented a helper function that can be used t

[2017-05-04 20:43] cboettig commented on #213
@jeanetteclark Thanks for the bug report.

@amoeba True, though I think this highlights two other issues:

- We'd rather catch this issue sooner before we validate / write to xml; @maelle has already done some very nice work in making `set_attributes` check for certain validation issues, e.g. #169, so I think we could continue that work to catch this kind of issue.

- Perhaps there's something we

[2017-05-04 21:09] jeanetteclark commented on #213
Thanks @cboettig, we do use excel to generate most of our attributes which are read into R as .csvs. This does help quite a bit with the bigger attribute tables, but I have found I still occasionally make mistakes and have to subsequently hunt them down.

[2017-05-04 23:21] amoeba commented on #213
I wasn't aware of the checking `set_attributes` already did, so this is great. And I agree that checking before writing out to disk makes sense. I've PR'd a commit that adds a check to set_attributes for the combination of `measurementScale` and `domain`. You'll get errors like

Is that useful? Are there more types of checks? I haven't looked so I'm sure there are.

[2017-05-05 03:35] cboettig commented on #213
Thanks @amoeba , I think your #214 PR effectively addresses this, so will close.

There are probably other strategies that might be a less piecemeal approach to making sure the R object is always a valid EML subset (e.g. perhaps with S4 validation) though that would probably be tedious and not necessarily better.  Meanwhile I think the approach of `check_and_complete_attributes` is very practical.